@import '../../../styles.scss';

.meteo-select-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto 1fr;
  grid-template-areas:
    "l c m"
    "o o o"
}

.selection-label {
  grid-area: l;
}

.selection-control {
  grid-area: c;
}

.other {
  display: grid;
  grid-area: o;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "r"
  "c"
}

.label-region {
  font-weight: bold;
  grid-area: r;
  margin-bottom: 1rem;
}

.app-calendar {
  grid-area: c;
}

/*
.label-rg {
  grid-area: lrg;
}
.label-sr {
  grid-area: lsr;
}
.label-ci {
  grid-area: lci;
}
.select-rg {
  grid-area: srg;
}
.select-sr {
  grid-area: ssr;
}
.select-ci {
  grid-area: sci;
}*/
