<mat-card class="mat-user-card">
    <mat-card-header *ngIf="options?.title?.length > 0" style="padding: 0; padding-left: 1rem; padding-top: 0.2rem; padding-bottom: 0.1rem;">
        <mat-card-subtitle [innerHtml]="options?.title"></mat-card-subtitle>
    </mat-card-header>
    <mat-divider style="margin: 0;"></mat-divider>
    <mat-card-content class="mat-user-card-content" style="padding: 0;">
        <mat-card-subtitle style="padding: 0; padding-left: 1rem; padding-right: 1rem; padding-top: 0.2rem; padding-bottom: 0.1rem;"
            *ngIf="options?.message?.length > 0" [innerHtml]="options?.message"></mat-card-subtitle>
        <div mat-dialog-actions class="user-form-control">
            <button style="margin: 0; padding: 0; margin-right: 15px;" mat-raised-button color="primary" (click)="onYes()"cdkFocusInitial>
                {{options?.yesButtonText?.length > 0 ? options?.yesButtonText : "Yes"}}
            </button>
            <button style="margin: 0; padding: 0;" mat-raised-button (click)="onNo()">
                {{options?.noButtonText?.length > 0 ? options?.noButtonText : "No"}}
            </button>
        </div>
    </mat-card-content>
</mat-card>