<div class="meteo-photo-grid">
    <div class="meteo-single-photo">
        <label class="meteo-single-text">Evolution of Air Mass Type over Europe</label>
        <img class="meteo-single-image" src="content/Meteo/sim/AirMassEurope.gif" />
    </div>
    <div class="meteo-single-photo">
        <label class="meteo-single-text">Evolution of Precipitations over Europe</label>
        <img class="meteo-single-image" src="content/Meteo/sim/PrecipEurope.gif" />
    </div>
    <div class="meteo-single-photo">
        <label class="meteo-single-text">Evolution of Snow cover over Romania</label>
        <img class="meteo-single-image" src="content/Meteo/sim/SnowCoverRomania.gif" />
    </div>
</div>
