packages
.vs
/ocpa.ro.ui/node_modules
/**/bin
/**/obj
.angular
ocpa.ro.ui/dist*/
api/api/
*.log
api/Properties/PublishProfiles/**
content/ProTONE/
content/Meteo/
content/auth.db
content/wiki/
*.user
ocpa.ro.api/api/
