packages
.vs
/ang-ocpa-ro/node_modules
/**/bin
/**/obj
.angular
ang-ocpa-ro/dist*/
api/api/
*.log
api/Properties/PublishProfiles/**
content/ProTONE/
content/Meteo/
content/auth.db
content/wiki/
*.user
