<mat-grid-list cols="7" rowHeight="9vh" gutterSize="0" style="width: 56vw; height: 70vh;">
  <mat-grid-tile *ngFor="let d of dates;" [class]="d | date: 'EEE' | lowercase">
    <div class="{{getData(d)?.TempFeel}}">
      <ng-container *ngIf="getData(d)?.Forecast">
        <label class="date-label">{{ d | date: 'EEE, dd-MMM-yy' | uppercase }}</label>
        <label class="day-temp-actual">{{ getData(d)?.TMaxActual }}</label>
        <label class="night-temp-actual">{{ getData(d)?.TMinActual }}</label>
        <label class="day-temp-normal">[{{ getData(d)?.TMaxNormal }}]</label>
        <label class="night-temp-normal">[{{ getData(d)?.TMinNormal }}]</label>
        <img src='../../../assets/Images/day.png' class="day-temp-image">
        <img src='../../../assets/Images/night.png' class="night-temp-image">
        <img src='../../../assets/Images/precip_{{ getData(d)?.Forecast }}.png' class='forecast-image'>
      </ng-container>
    </div>
  </mat-grid-tile>
</mat-grid-list>
