@import '../../../styles.scss';

.mon {
}
.tue {
}
.wed {
}
.thu {
}
.fri {
}
.sat {
color: green;
font-weight: bold;
}
.sun {
color: red;
font-weight: bold;
}

.calendar-day-grid {
display: grid;
grid-template-rows: repeat(4, auto) 1fr;
grid-template-columns: repeat(5, auto) 1fr;
grid-template-areas:
  "d d d d d ."
  "i i id ad nd ."
  "i i in an nn ."
  "r r r r r ."
  ". . . . . . ";
}
.date-label {
  grid-area: d;
}

.forecast-image {
  grid-area: i;
  width: 3vw;
  height: 3vw;
}

.warmer {
  @extend .calendar-day-grid;
  filter: invert(72%) sepia(85%) saturate(866%) hue-rotate(359deg) brightness(101%) contrast(104%);
}
.much_warmer {
  @extend .calendar-day-grid;
  filter: invert(53%) sepia(95%) saturate(3582%) hue-rotate(359deg) brightness(99%) contrast(108%);
}
.hot {
  @extend .calendar-day-grid;
  filter: invert(27%) sepia(100%) saturate(7482%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.normal {
  @extend .calendar-day-grid;
}

.colder {
  @extend .calendar-day-grid;
  background-color: skyblue;
  -ms-tooltip: 'bla-bla';
  // filter: invert(53%) sepia(22%) saturate(5258%) hue-rotate(191deg) brightness(99%) contrast(109%);
}
.much_colder {
  @extend .calendar-day-grid;
  filter: invert(15%) sepia(79%) saturate(7478%) hue-rotate(246deg) brightness(101%) contrast(101%);
}
.frost {
  @extend .calendar-day-grid;
  filter: invert(8%) sepia(99%) saturate(7495%) hue-rotate(246deg) brightness(93%) contrast(146%);
}



.temp-image {
  width: 1.1rem;
  height: 1.1rem;
}
.day-temp-image {
  @extend .temp-image;
  grid-area: id;
}
.night-temp-image {
  @extend .temp-image;
  grid-area: in;
}

.day-temp-actual {
  grid-area: ad;
}
.day-temp-normal {
  grid-area: nd;
}

.night-temp-actual {
  grid-area: an;
}
.night-temp-normal {
  grid-area: nn;
}
.no-data {
  grid-area: r;
}
