<div class="t">
    <h3>Welcome! Please choose one of the categories below, or use the right-top menu.</h3>
</div>

<div class="c1">
    <a routerLink="/meteo">
        <fa-layers class="home-image">
            <fa-icon [icon]="faSquare" size="10x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" class="alt-image-color" size="9x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faWeather" transform="shrink-7 up-1" size="10x" ></fa-icon>
            <fa-layers-text content="Weather Forecast" style="font-weight: bold" transform="down-60"></fa-layers-text>
        </fa-layers>
    </a>
</div>

<div class="c5">
    <a routerLink="/meteo-photos">
        <fa-layers class="home-image">
            <fa-icon [icon]="faSquare" size="10x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" class="alt-image-color" size="9x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faWeather" transform="shrink-7 up-1" size="10x" ></fa-icon>
            <fa-layers-text content="Animated Forecast" style="font-weight: bold" transform="down-60"></fa-layers-text>
        </fa-layers>
    </a>
</div>

<div class="c2">
    <a routerLink="/protone">
        <fa-layers class="home-image">
            <fa-icon [icon]="faSquare" size="10x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" class="alt-image-color" size="9x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" size="8x" transform="up-1"></fa-icon>
            <fa-icon [icon]="faAngle" class="alt-image-color" size="10x" transform="rotate-135 left-1.5 down-0.5" ></fa-icon>
            <fa-icon [icon]="faPlay" class="alt-image-color" transform="shrink-10 right-1.5 up-2.5" size="9x" ></fa-icon>
            <fa-layers-text content="ProTONE Player" style="font-weight: bold" transform="down-60"></fa-layers-text>
        </fa-layers>
    </a>
</div>

<div class="c3">
    <a routerLink="/electronics">
        <fa-layers class="home-image">
            <fa-icon [icon]="faSquare" size="10x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" class="alt-image-color" size="9x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faElectronics" transform="shrink-7 up-1" size="10x" ></fa-icon>
            <fa-layers-text content="Electronics Blog" style="font-weight: bold" transform="down-60"></fa-layers-text>
        </fa-layers>
    </a>
</div>

<div class="c4">
    <a routerLink="/photography">
        <fa-layers class="home-image">
            <fa-icon [icon]="faSquare" size="10x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faSquare" class="alt-image-color" size="9x" transform="grow-6"></fa-icon>
            <fa-icon [icon]="faPhoto" transform="shrink-7 up-1" size="10x" ></fa-icon>
            <fa-layers-text content="Photo Album" style="font-weight: bold" transform="down-60"></fa-layers-text>
        </fa-layers>
    </a>
</div>
