<div class="card card-login">
    <div class="card-header py-1 px-2">
        <label class="otp-card-subtitle mb-0"
            [innerHtml]="'auth.enter-otp' | translate: { email: anonymizedEmail }"></label>
    </div>
    <hr class="my-0" />
    <div class="card-body p-0">
        <form class="login-form p-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="login-form-control">
                <input type="text" #otp id="otp" class="form-control" formControlName="otp"
                    [class.is-invalid]="f.otp.invalid && f.otp.touched" inputMaskFormat maxlength="9"
                    placeholder="AAAA-AAAA" autofocus (input)="error = undefined" />
                <div *ngIf="f?.username?.errors?.required" class="invalid-feedback d-block">
                    {{ 'auth.otp-required' | translate }}
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-secondary login-button" 
                    (click)="onGenerateOtp()"
                    [disabled]="waiting">
                    {{ 'title.regenerate-otp' | translate }}
                </button>
                <button type="submit" class="btn btn-primary login-button"
                    (click)="onSubmit()"
                    [disabled]="loading || !otpGenerated">
                    {{ 'title.continue-login' | translate }}
                </button>
            </div>

            <div class="card-footer" *ngIf="loading || error">
                <div *ngIf="loading" class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
                </div>
                <div *ngIf="error" class="text-danger login-form-control" [innerHtml]="error"></div>
            </div>

        </form>
    </div>
</div>