.apps-menus-layout {
    display: grid;
    grid-template-columns: 1fr 1rem auto;
    grid-template-rows: auto 1rem 1fr;
    grid-template-areas: 
    "al . aml"
    ". . aml"
    "ml . aml";
}

.btn-crud {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.menus-list {
    display: block;
    grid-area: ml;
}

.apps-list {
    display: block;
    grid-area: al;
}

.apps-menus-list {
    display: block;
    grid-area: aml;
}

.grid-column-menu-add,
.grid-column-app-add {
    @extend .grid-column-crud;
    color: green;
}

.grid-column-menu-edit,
.grid-column-app-edit {
    @extend .grid-column-crud;
    color: navy;
}

.grid-column-menu-delete,
.grid-column-app-delete {
    @extend .grid-column-crud;
    color: red;
}

.grid-column-app-name
.grid-column-menu-name, 
.grid-column-menu-display-mode {
    width: auto;
    max-width: 200px;
    text-wrap-mode: nowrap;
}

.extra-space-above {
    margin-top: 2rem;
}
.extra-space-right {
    margin-right: 2rem;
}
.filter-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
