app-custom-checkbox {
  height: 20px;
  max-height: 20px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid $forecolor;
  background-color: $backcolor;
  margin-right: 10px;
  position: relative;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: $forecolor;
  border-color: $forecolor;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid $backcolor;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}
