.bs-modal-city {
    width: 700px !important;
    max-width: unset !important;
}

.mat-column-city-add {
    @extend .mat-column-crud;
    color: green;
}

.mat-column-city-edit {
    @extend .mat-column-crud;
    color: navy;
}

.mat-column-city-delete {
    @extend .mat-column-crud;
    color: red;
}

.mat-column-city-name,
.mat-column-city-region,
.mat-column-city-subregion,
.mat-column-city-latitude,
.mat-column-city-longitude,
.mat-column-city-default {
    @extend .mat-column;
}

.cities-page {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "cln cln cln map"
        "cl cl cl map"
        "cst . cp map"
}

.cities-list-name {
    grid-area: cln;
}

.cities-list {
    grid-area: cl;
}

.cities-search-term {
    grid-area: cst;
    margin-top: 20px;

    >.mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    >.mat-mdc-text-field-wrapper {
        height: 1.5rem;
    }
}

.cities-paginator {
    grid-area: cp;
}

.form {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: auto 10px auto;
    grid-template-areas:
        "left . ."
        "left . right"
        "left . .";
}

.left {
    display: grid;
    grid-area: left;
}

.right {
    grid-area: right;
}