app-login, app-logout, app-otp {
    // width: 30vw;
    // min-width: 350px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset;
}

.mat-card-login {
    box-shadow: 1px 3px 2px -2px $shadow-color, 1px 2px 2px 1px $shadow-color, 1px 2px 4px 1px $shadow-color !important;
    align-items: start;
    display: grid;
}
  
.login-form {
    display: grid;
}

.login-form-control {
    margin: 0;
    padding: 0;
}

.password-hide-icon {
    @extend .btn-crud;
    margin: 0;
    margin-right: 5px;
    position: absolute;
    right: 10px;
    top: 40px;
}