.meteo-db-row {
    height: 2rem !important;
}
.meteo-db-header-row {
    height: 2.5rem !important;
}
.grid-column-db-view {
    @extend .grid-column-crud;
    width: 50px;
    max-width: 50px;
    color: navy;
}

.grid-column-db-promote {
    @extend .grid-column-crud;
    color: limegreen;
}

.grid-column-db-upload {
    @extend .grid-column-crud;
    color: green;
}

.grid-column-db-delete {
    @extend .grid-column-crud;
    color: red;
}

.grid-column-db-name {
    width: 300px;
    max-width: 300px;
}

.grid-column-db-filler {
    width: auto;
    max-width: 1000px;
}

.meteo-db-modal {
    width: 99vw;
    min-width: 99vw;
    max-width: 99vw;
    height: 99vh;
    min-height: 99vh;
    max-height: 99vh;
}
