@import "weather-icons.css";
@import "weather-icons-wind.css";

.forecast-range {
    color: darkred;
}

.normal { background-color: $meteo-normal-color !important; }
.warmer { background-color: $meteo-warmer-color !important; }
.much_warmer { background-color: $meteo-much-warmer-color !important; }
.hot { background-color: $meteo-hot-color !important; }
.colder { background-color: $meteo-colder-color !important; }
.much_colder { background-color: $meteo-much-colder-color !important; }
.frost { background-color: $meteo-frost-color !important; }

app-meteo {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mdb";
}

.meteo-data-browser {
    display: grid;
    padding: 0;
    margin: 0;
    grid-area: mdb;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
    "h"
    "c"
    "dh"
    "odg";
}

.meteo-hint {
    grid-area: h;
    margin-top: 0.5em;
}

.smart-meteo-controls {
    grid-area: c;
    margin-right: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.meteo-data-hint {
    @extend .meteo-hint;
    margin-top: 0;
    margin-bottom: 5px;
    grid-area: dh;
    text-align: justify;
}

.meteo-data-hint-label {
    @extend .small-font-label;
    margin: 0;
    > span {
        color: darkred;
        font-weight: bold;
    }
}

.outer-meteo-data-grid {
    display: grid;
    white-space: nowrap;
    grid-area: odg;
    grid-template-columns: repeat(7, auto) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "start minus7 minus1 zero plus1 plus7 end ."
    "dg dg dg dg dg dg dg dg";
}
.inner-meteo-data-grid {
    display: grid;
    grid-area: dg;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "mdg ot";
}

.gridButton {
    color: $forecolor;
    margin-bottom: 10px;
    margin-right: 3px;
    background-color: $backcolor;
    border: 1px solid $forecolor;
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: bold;
}
.gotoStart {
    @extend .gridButton;
    grid-area: start;
}
.minus7 {
    @extend .gridButton;
    grid-area: minus7;
}
.minus1 {
    @extend .gridButton;
    grid-area: minus1;
}
.zero {
    @extend .gridButton;
    grid-area: zero;
}
.plus1 {
    @extend .gridButton;
    grid-area: plus1;
}
.plus7 {
    @extend .gridButton;
    grid-area: plus7;
}
.gotoEnd {
    @extend .gridButton;
    grid-area: end;
}


.meteo-data-grid {
    grid-area: mdg;
    display: flex;
    overflow-y: auto;
}
.meteo-data-grid-empty {
    @extend .meteo-data-grid;
    border: unset;
}
//----
.img-day-summary-forecast {
    margin: 0;
    padding: 0;
    align-self: center !important;
    vertical-align: middle !important;
    height: 2.5rem;
}

// --- Temp cell ---
.temp-low-cell {
    display: grid;
    color: $meteo-temp-min;
    grid-template-rows: 1fr;
    grid-template-columns: 1rem 1fr 1rem 1fr;
    grid-template-areas: "sl tla tln";
    margin-bottom: 5px;
    margin-top: 5px;
}
.temp-high-cell {
    display: grid;
    color: $meteo-temp-max;
    grid-template-rows: 1fr;
    grid-template-columns: 1rem 1fr 1rem 1fr;
    grid-template-areas: "sl tla tln";
    margin-bottom: 5px;
    margin-top: 5px;
}
.temp-symbol {
    grid-area: sl;
}
.temp-actual {
    grid-area: tla;
    font-weight: bold;
    margin-right: 5px;
}
.temp-normal {
    grid-area: tln;
    font-size: 0.8rem;
}
// -------------------- 

.grid-meteo-column {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

// --- Date cell ---
.grid-column-date {
    @extend .grid-meteo-column;
    min-width: 3rem;
    padding: 2px !important;
}
.date-cell-base {
    background-color: lightgray !important;
    font-weight: 600 !important;
}
.date-cell {
    @extend .date-cell-base;
    display: grid;
    font-size: 0.8rem;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "dow"
    "dom"
    "year";
}
.dow-row {
    grid-area: dow;
    text-transform: uppercase;
}
.dom-row {
    grid-area: dom;
    text-transform: uppercase;
}
.year-row {
    grid-area: year;
    text-transform: uppercase;
}

.date-cell-weekend-base {
    background-color: $meteo-weekend-header-color !important;
    font-size: 0.7rem !important;
    font-weight: bolder !important;
    color: white !important;
}
.date-cell-weekend {
    @extend .date-cell, .date-cell-weekend-base;    
}
// -------------------- 

// --- Cell borders ---
#meteo-calendar {
    grid-area: mc;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.raw-cell-normal {
    border: $meteo-border-normal;
    border-radius: 8px;
}
.raw-cell-today {
    border: $meteo-border-today;
    border-radius: 8px;
}
.raw-cell-selected {
    border: $meteo-border-selected;
    border-radius: 8px;
}

.left-cell-normal {
    @extend .raw-cell-normal;
    border-right: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}
.left-cell-today {
    @extend .raw-cell-today;
    border-right: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}
.left-cell-selected {
    @extend .raw-cell-selected;
    border-right: unset !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.center-cell-normal {
    @extend .raw-cell-normal;
    border-left: unset !important;
    border-right: unset !important;
    border-radius: unset !important;
}
.center-cell-today {
    @extend .raw-cell-today;
    border-left: unset !important;
    border-right: unset !important;
    border-radius: unset !important;
}
.center-cell-selected {
    @extend .raw-cell-selected;
    border-left: unset !important;
    border-right: unset !important;
    border-radius: unset !important;
}

.right-cell-normal {
    @extend .raw-cell-normal;
    border-left: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.right-cell-today {
    @extend .raw-cell-today;
    border-left: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
.right-cell-selected {
    @extend .raw-cell-selected;
    border-left: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}
// -------------------- 

// --- other cells ---
.grid-column-symbol,
.grid-column-summary,
.grid-column-temp {
    @extend .grid-meteo-column;
}

.grid-column-precip {
    @extend .grid-meteo-column;
    display: none !important;
}

.grid-column-risks {
    @extend .grid-meteo-column;
    min-width: 0 !important;
    max-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

// --------------------
.meteo-data-other {
    grid-area: ot;
    display: none !important;
    overflow-y: hidden;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    ". gr1 ."
    ". gr1 ."
    ". gr1 .";
}

#meteoDataGraph {
    grid-area: gr1;
    margin: 2rem;
}
// -------------------- 

// ----------------------------------------------------------------
app-day-risks {
    grid-area: risk;
    display: none !important;
    text-align: justify;
    margin-bottom: 0;
}

.hazard {
    text-align: justify;
    vertical-align: top;
    color: $meteo-temp-max;
}

.img-hazard {
    margin-top: 2px;
    margin-right: 2px;
    padding: 0;
    align-self: center;
    height: 2vh;
}

.detail-generic {
    vertical-align: middle;
}
.detail-rain {
    @extend .detail-generic;
}
.detail-pres {
    @extend .detail-generic;
}
.detail-snow {
    @extend .detail-generic;
}
.detail-wind {
    @extend .detail-generic;
}

.wi {
    font-weight: bold !important;
    font-size: 1.6rem !important;
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
}
.wi-wind {
    font-weight: normal !important;
    font-size: 1.2rem !important;
    vertical-align: middle;
}

/* dynamic styles
----------------------------------------------------------*/
:root[display-mode="m4"] {
    .grid-column-precip { display: table-cell !important; }
    app-day-risks { display: block !important; }
    .grid-column-risks {
        min-width: unset !important;
        max-width: unset !important;
        padding: unset !important;
        margin: unset !important;
        padding-right: 15px !important
    } 
    .meteo-data-other { display: grid !important; }
    #meteo-calendar {
        min-width: 590px !important;
        max-width: 590px !important;
    }
}

:root[display-mode="m3"] {
    .grid-column-precip { display: table-cell !important; }
    app-day-risks { display: block !important; }
    .grid-column-risks {
        min-width: unset !important;
        max-width: unset !important;
        padding: unset !important;
        margin: unset !important;
        padding-right: 15px !important
    }
    #meteo-calendar {
        min-width: 90vw !important;
        max-width: 90wv !important;
    }        
}

:root[display-mode="m2"] {
    .grid-column-precip { display: table-cell !important; }
    #meteo-calendar {
        min-width: 90vw !important;
        max-width: 90wv !important;
    }        
}

:root[display-mode="m1"] {
    #meteo-calendar {
        min-width: 90vw !important;
        max-width: 90wv !important;
    }        
}

:root[mobile="true"] {
    .grid-column-symbol {
        min-width: 2.9rem;
        max-width: 2.9rem;
    }    
    .grid-column-summary,
    .grid-column-temp {
        min-width: 6.5rem;
        font-size: 0.8rem;
    }
}

