.navbar-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: start;
    display: table;
    table-layout: fixed;
}

.nav-item {
    display: table-cell;
    width: auto;
    text-align: left;
    margin-left: 0.5rem;
}

.nav-auth-item {
    display: table-cell;
    width: auto;
    margin-right: 1rem;
    text-align: right;
}

.nav-link {
    color: $nav-forecolor;
    text-decoration: none;
    display: contents;
    cursor: pointer;
}

.nav-item:hover, .nav-auth-item:hover {
    color: $nav-forecolor;
    background-color: lighten($nav-alt-backcolor, 0.5);
    border-bottom: 3px solid $nav-underline-hover;
}

.link-active {
    color: $nav-forecolor;
    border-bottom: 3px solid $nav-underline-active;
}

.nav-link-div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "img txt";
    padding: 6px;
}
.nav-link-div-auth {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: "txt img";
    padding: 6px;
}

.nav-link-img {
    grid-area: img;
    margin: 0;
    cursor: pointer;
    align-content: center;
}
.nav-link-auth {
    grid-area: img;
    margin: 0;
    cursor: pointer;
    align-content: center;
}
.nav-link-txt {
    grid-area: txt;
    margin: 0;
    align-content: center;
    cursor: pointer;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-wrap: normal;
}

#navbar {
    margin: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 0.85rem;
}
#navbarContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "nb nm . nam";
    width: 100%;
}

.navbarMenu {
    grid-area: nm;
    margin: 0;
    padding: 0;
}
.navbarAuthMenu {
    grid-area: nam;
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
}
.navbarBrand {
    border-bottom: unset;
    color: $nav-forecolor;
    display: grid;
    grid-area: nb;
    grid-template-columns: 2em 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "i t";
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

.navbar-title {
    display: none;
    grid-area: t;
    margin: 0;
    margin-left: 1.5rem;
    margin-right: 1rem;
    color: $nav-forecolor;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-image {
    grid-area: i;
    align-content: center;
    margin-left: 0.5rem;
}

.navbar-alt-image-color {
    color: $nav-forecolor;
}

/* MOBILE
----------------------------------------------------------*/
/*:root[mobile="true"] {
    .navbar-nav {
        padding: 0;
        margin: 0;
        width: 100%;
        display: table;
        table-layout: fixed;
    }
}*/
