@use '@angular/material' as mat;
@use 'custom-theme.scss';

@import './variables.scss';
@import './navbar.scss';
@import './homepage.scss';
@import './smart-city-search.scss';
@import './meteopage.scss';
@import './meteo-photos.scss';
@import './protone.scss';
@import './login-form.scss';
@import './users-page.scss';
@import './meteo-database.scss';
@import './apps-menus.scss';
@import './content-browser.scss';
@import './geography.scss';
@import './overlay.scss';
@import './wiki-browser.scss';
@import './custom-checkbox.scss';

html {
    --mat-table-header-container-height: 0.8rem !important;
    --mat-table-row-item-container-height: auto !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
  }

  th, td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  thead tr:first-child th {
    border-top: none;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

.app-colors {
    color: $forecolor !important;
    background-color: $backcolor !important;
}

.mat-mdc-header-row {
    height: 0.8rem !important;
}

body,
:root {
    color: $forecolor;
    background-color: $backcolor;
    font-family: $font-family;
}

app-root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "anm"
        "ro"
        "api";
    width: 99.5vw;
    max-width: 99.5vw;
    height: 99.5vh;
    max-height: 99.5vh;
    padding: 0 !important;
    overflow: hidden;
    font-size: 13px;
}

app-nav-menu {
    margin: 0;
    padding: 0;
}

#app-nav-menu {
    display: block;
    grid-area: anm;
    color: $nav-forecolor;
    background-color: $nav-backcolor;
    margin-bottom: 5px;
    padding: 0;
}
#app-nav-menu[single-menu-app="true"] {
    display: none;
}

.app-version-info {
    grid-area: api;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
}

#router-outlet {
    grid-area: ro;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 !important;
    overflow: auto;
}

.container {
    position: relative;
    text-align: center;
    color: $backcolor;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.domHide[domHide=true] {
    display: none;
    visibility: hidden;
}

.mat-column {
    margin: 0;
}

.mat-column-crud {
    @extend .mat-column;
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
    width: 16px;
    min-width: 16px;
    max-width: 16px;
}

.mat-mdc-header-cell {
    background-color: $forecolor !important;
    color: $backcolor !important;
    height: auto !important;
    vertical-align: middle;
}

.session-expired-message .mat-dialog-container {
    z-index: 2000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.two-fields-zone {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "lf . rf";
}

.two-fields-zone-left {
    align-self: center;
    grid-area: lf;
}

.two-fields-zone-right {
    align-self: center;
    grid-area: rf;
}

.success-snackbar {
    .mdc-snackbar__surface {
        background-color: green !important;
    }
}

.error-snackbar {
    .mdc-snackbar__surface {
        background-color: maroon !important;
    }
}

.mat-mdc-dialog-content {
    max-height: unset !important;
}

.unavailable-page {
    margin-top: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-auto-flow: row;
}

.bs-modal {
    width: auto;
}
.card-subtitle {
    font-weight: bold;
}


.modal-popup-image {
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Style for the image modal background */
.img-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "t x"
    "c c";
}

.img-modal-title {
    grid-area: t;
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

/* Style for the image modal content (image) */
.img-modal-content {
    grid-area: c;
    margin: auto;
    margin-top: 20px;
    display: block;
    max-width: 90%;
    max-height: calc(90% - 25px);
}

.modal-popup-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

/* image modal Close button */
.img-modal-close {
    grid-area: x;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

img[loading="lazy"] {
    filter: blur(10px);
    transition: filter 0.3s;
}

img[loading="lazy"]:not([src=""]) {
    filter: blur(0);
}

/* MOBILE
----------------------------------------------------------*/
:root[mobile="true"] {
    #router-outlet {
        height: 90vh;
        max-height: 90vh;
    }

    .modal-popup-image {
        text-decoration: none;
        cursor: none;
    }

    .img-modal {
        display: none;
    }

    .img-modal-content {
        display: none;
    }

    .img-modal-close {
        display: none;
    }
}