app-users {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15px auto;
    grid-template-areas: 
    "ul"
    "."
    "dl";
}

.users-list {
    grid-area: ul;
}

.devices-list {
    grid-area: dl;
}

.mat-user-card {
    margin: 0;
}

.mat-user-card-content {
    margin: 0;
    padding: 0;
}

.mat-user-card-header {
    display: block;
    margin: 0;
    padding: 0;
}

.table-link {
    text-decoration: none;
    cursor: pointer;
}

.user-table {
    width: 50%;
    height: 50%;
}

.mat-column-user-add {
    @extend .mat-column-crud;
    color: green;
}

.mat-column-user-edit {
    @extend .mat-column-crud;
    color: navy;
}

.mat-column-user-delete {
    @extend .mat-column-crud;
    color: red;
}

.mat-column-user-loginId {
    width: auto;
    max-width: 200px;
}

.mat-column-user-type {
    width: auto;
    max-width: 200px;
}

.user-form-control {
    margin: 0;
    padding: 0;
    width: 15rem;
}

.user-row {
    height: 2rem !important;
}
.user-header-row {
    height: 2.5rem !important;
}

.user-password-hide-icon {
    @extend .btn-crud;
    margin: 0;
    margin-right: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.mat-column-device-view {
    @extend .mat-column-crud;
    color: navy;
}
.mat-column-device-delete {
    @extend .mat-column-crud;
    color: red;
}