<ng-container *ngIf="initialized">
<div class="meteo-hint" id="dHint" style="text-align: start;">
    <label class="mat-body-1" [innerHtml]="hint" id="hint">
    </label>
</div>

<div class="smart-meteo-controls" id="dSmartControls" *ngIf="(allCities?.length> 0)">
    <ng-select placeholder="{{hint}}" id="smart-city-select"
        [items]="citiesBuffer" 
        [searchFn]="searchCities"
        [virtualScroll]="true"
        [loading]="loadingCities"
        [(ngModel)]="selectedCity" 
        bindLabel="name" 
        (clear)="onSearchCleared()"
        (change)="onSmartCityChanged()"
        (scroll)="onScroll($event)"
        (scrollToEnd)="onScrollToEnd()"
        (search)="onSearch($event)"
        (focus)="onDropDownFocused(true)"
        (blur)="onDropDownFocused(false)">
        
        <ng-template ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="smart-city-label" [attr.dd-focused]="dropDownFocused">
                <label class="smart-city-label-name">{{item.name}}</label>
                <label class="smart-city-label-info">({{item.subregion}}, {{item.region}})</label>
                <div class="smart-city-label-flag">
                    <img class="smart-city-label-flag-image" src="assets/countries/{{item | countryCode }}.png"/>
                </div>
            </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="smart-city-card">
                <div class="smart-city-card-body">
                    <label class="smart-city-name">{{item.name}}</label>
                    <label class="smart-city-info">({{item.subregion}}, {{item.region}})</label>
                    <div class="smart-city-flag">
                        <img class="smart-city-flag-image" src="assets/countries/{{item | countryCode }}.png"/>
                    </div>
                </div>
            </div>
        </ng-template>

    </ng-select>
</div>

<div class="meteo-data-hint" id="dDataHint">
    <label class="meteo-data-hint-label" [innerHtml]="dataHint"></label>
</div>

<div class="outer-meteo-data-grid">
    <ng-container *ngIf="meteoData?.length > 0" >
        <div class="meteo-data-grid" [ngStyle]="dataGridStyle">
            <div id="day_{{md.date}}" *ngFor="let md of meteoData" class="{{ meteoCellClass(md.date) }} {{md.tempFeel ?? 'no-data'}}">
                <app-day-summary *ngIf="md" [data]="md" class="{{md.tempFeel}}"></app-day-summary>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isFetching && meteoData?.length === 0" >
        <label mat-small class="meteo-data-grid-empty">The database has no data</label>
    </ng-container>
    <ng-container *ngIf="isFetching" >
        <img class="meteo-data-grid-empty" src="assets/images/spinner.gif" style="height: 10rem; color: transparent;" />
    </ng-container>

    <button id="btnDate" class="minus7" (click)="selectDate(-7)">-7 days</button>
    <button class="minus1" (click)="selectDate(-1)">-1 day</button>
    <button class="zero" (click)="selectDate(0)">Today</button>
    <button class="plus1" (click)="selectDate(1)">+1 day</button>
    <button class="plus7" (click)="selectDate(7)">+7 days</button>
</div>
</ng-container>