<ng-container *ngIf="initialized">

    <div class="meteo-hint" id="dHint" style="text-align: start;">
        <label class="mat-body" [innerHtml]="hint" id="hint">
        </label>
    </div>

    <div class="smart-meteo-controls" id="dSmartControls" *ngIf="(allCities?.length> 0)">
        <ng-select placeholder="{{hint}}" id="smart-city-select"
            [items]="citiesBuffer" 
            [searchFn]="searchCities"
            [virtualScroll]="true"
            [loading]="loadingCities"
            [(ngModel)]="selectedCity" 
            bindLabel="name" 
            (clear)="onSearchCleared()"
            (change)="onSmartCityChanged()"
            (scroll)="onScroll($event)"
            (scrollToEnd)="onScrollToEnd()"
            (search)="onSearch($event)"
            (focus)="onDropDownFocused(true)"
            (blur)="onDropDownFocused(false)">
            
            <ng-template ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="smart-city-label" [attr.dd-focused]="dropDownFocused">
                    <label class="smart-city-label-name">{{item.name}}</label>
                    <label class="smart-city-label-info">({{item.subregion}}, {{item.regionName}})</label>
                    <div class="smart-city-label-flag">
                        <img class="smart-city-label-flag-image" src="assets/images/flags/{{item | countryCode }}.png"/>
                    </div>
                </div>
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="smart-city-card">
                    <div class="smart-city-card-body">
                        <label class="smart-city-name">{{item.name}}</label>
                        <label class="smart-city-info">({{item.subregion}}, {{item.regionName}})</label>
                        <div class="smart-city-flag">
                            <img class="smart-city-flag-image" src="assets/images/flags/{{item | countryCode }}.png"/>
                        </div>
                    </div>
                </div>
            </ng-template>

        </ng-select>
    </div>

    <div class="meteo-data-hint" id="dDataHint">
        <label class="meteo-data-hint-label" [innerHtml]="dataHint"></label>
    </div>

    <div class="outer-meteo-data-grid">
        <ng-container *ngIf="meteoData?.length > 0" >
            <div class="inner-meteo-data-grid">
                <div class="meteo-data-grid" [ngStyle]="dataGridStyle">
                    <table id="meteo-calendar" mat-table [dataSource]="selMeteoData">
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <td mat-cell *matCellDef="let md" class="{{leftCellClass(md)}} {{baseCellClass(md)}}">
                                <div class="{{dateCellClass(md)}}">
                                    <label class="dow-row">{{md.date | date: 'EEE'}}</label>
                                    <label class="dom-row">{{md.date | date: 'MMM-dd'}}</label>
                                    <label class="year-row">{{md.date | date: 'YYYY'}}</label>
                                </div>
                            </td>
                        </ng-container>
            
                        <!-- Weather Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <td mat-cell *matCellDef="let md" class="{{centerCellClass(md)}}">
                                <img class="meteo-mat-small img-day-summary-forecast" 
                                    src="assets/images/meteo/precip_{{md.forecast}}.png" />
                            </td>
                        </ng-container>
                        
                        <!-- Weather Summary Column -->
                        <ng-container matColumnDef="summary">
                            <td mat-cell *matCellDef="let md" [innerHtml]="summary(md)" class="{{centerCellClass(md)}}">
                            </td>
                        </ng-container>
                        
                        <!-- Temperatures Column -->
                        <ng-container matColumnDef="temp">
                            <td mat-cell *matCellDef="let md" class="{{centerCellClass(md)}}">
                                <div class="temp-high-cell">
                                    <fa-icon class="temp-symbol" [icon]="icons['faTemperatureThreeQuarters']" transform="grow-10"></fa-icon>
                                    <label class="temp-actual">{{md.tMaxActual | temp: unit}}</label>
                                    <label class="temp-normal">[{{md.tMaxNormal | temp: unit}}]</label>
                                </div>
                                <div class="temp-low-cell">
                                    <fa-icon class="temp-symbol" [icon]="icons['faTemperatureQuarter']" transform="grow-10"></fa-icon>
                                    <label class="temp-actual">{{md.tMinActual | temp: unit}}</label>
                                    <label class="temp-normal">[{{md.tMinNormal | temp: unit}}]</label>
                                </div>
                            </td>
                        </ng-container>
                        
                        <!-- Precip / Wind / Pres Column -->
                        <ng-container matColumnDef="precip">
                            <td mat-cell *matCellDef="let md" class="{{centerCellClass(md)}}">
                                <div class="detail-info">
                                    <div *ngIf="md?.wind > 0" class="detail-wind">
                                        <fa-icon [icon]="icons['faWind']"></fa-icon>
                                        <label class="meteo-mat-small detail">&nbsp;{{ md.wind | speed: unit}}, {{md.windDirection }}&nbsp;</label>
                                        <i class="wi wi-wind wi-from-{{ (md.windDirection ?? '').toLowerCase()}}"></i>
                                    </div>
                                    <div *ngIf="md?.p00 > 0" class="detail-pres">
                                        <fa-icon [icon]="icons['faGauge']"></fa-icon>
                                        <label class="meteo-mat-small detail">&nbsp;{{ md.p00 | pressure: unit }}</label>
                                    </div>
                                    <div *ngIf="md?.snow > 0 || md?.snowCover > 0" class="detail-snow">
                                        <fa-icon [icon]="icons['faSnowflake']"></fa-icon>
                                        <label *ngIf="md.snow > 0" class="meteo-mat-small detail">&nbsp;{{ md.snow | distance: unit }}</label>
                                        <label *ngIf="md.snowCover > 0" class="meteo-mat-small detail">
                                            <b><i>
                                                &nbsp;({{'meteo.snow-cover' | translate}} {{ md.snowCover | distance: unit }})
                                            </i></b>
                                        </label>
                                    </div>
                                    <div *ngIf="md?.rain > 0" class="detail-rain">
                                        <i class="wi wi-raindrops"></i>
                                        <label class="meteo-mat-small detail">&nbsp;{{ md.rain | volume: unit }}</label>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        
                        <!-- Risks Column -->
                        <ng-container matColumnDef="risks">
                            <td mat-cell *matCellDef="let md" class="{{rightCellClass(md)}}">
                                <app-day-risks *ngIf="md?.hazards?.length > 0" [risks]="md.hazards"></app-day-risks>
                            </td>
                        </ng-container>
            
                        <tr id="day_{{md.date}}" mat-row *matRowDef="let md; columns: displayColumns;" class="{{md.tempFeel}}"></tr>
                    </table>
                </div>
                <div class="meteo-data-other" [ngStyle]="dataGridStyle">
                    <canvas baseChart #meteoDataGraph id="meteoDataGraph"
                        [type]="'line'"
                        [data]="lineChartData"
                        [options]="lineChartOptions"
                        [legend]="true"
                        [plugins]="plugins"
                        (chartClick)="chartClicked($event)">
                </canvas>
                </div>
            </div>

            <button id="btnDate" class="gotoStart" (click)="selectDate(-1000)">|&lt;</button>
            <button class="minus7" (click)="selectDate(-7)">&lt;&nbsp;7{{'day-short' | translate}}</button>
            <button class="minus1" (click)="selectDate(-1)">&lt;&nbsp;1{{'day-short' | translate}}</button>
            <button class="zero" (click)="selectDate(0)">{{'Today' | translate}}</button>
            <button class="plus1" (click)="selectDate(1)">1{{'day-short' | translate}}&nbsp;&gt;</button>
            <button class="plus7" (click)="selectDate(7)">7{{'day-short' | translate}}&nbsp;&gt;</button>
            <button class="gotoEnd" (click)="selectDate(1000)">&gt;|</button> 

        </ng-container>

        <ng-container *ngIf="meteoData?.length === 0" >
            <label mat-small class="meteo-data-grid-empty">{{'meteo.empty-db' | translate }}</label>
        </ng-container>
    </div>

</ng-container>