<div class="meteo-hint" id="dHint">
    <h5 style="text-align: justify;" [innerHtml]="hint" id="hint"></h5>
</div>

<div class="smart-meteo-controls" id="dSmartControls" *ngIf="(allCities?.length> 0)">
    <ng-select placeholder="{{hint}}" id="smart-city-select"
        [items]="citiesBuffer" 
        [searchFn]="searchCities"
        [virtualScroll]="true"
        [loading]="loadingCities"
        [(ngModel)]="selectedCity" 
        bindLabel="name" 
        (clear)="onSearchCleared()"
        (change)="onSmartCityChanged()"
        (scroll)="onScroll($event)"
        (scrollToEnd)="onScrollToEnd()"
        (search)="onSearch($event)"
        (focus)="onDropDownFocused(true)"
        (blur)="onDropDownFocused(false)">
        
        <ng-template ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="smart-city-label" [attr.dd-focused]="dropDownFocused">
                <label class="smart-city-label-name">{{item.name}}</label>
                <label class="smart-city-label-info">({{item.subregion}}, {{item.region}})</label>
                <div class="smart-city-label-flag">
                    <img class="smart-city-label-flag-image" src="assets/countries/{{item | countryCode }}.png"/>
                </div>
            </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="smart-city-card">
                <div class="smart-city-card-body">
                    <label class="smart-city-name">{{item.name}}</label>
                    <label class="smart-city-info">({{item.subregion}}, {{item.region}})</label>
                    <div class="smart-city-flag">
                        <img class="smart-city-flag-image" src="assets/countries/{{item | countryCode }}.png"/>
                    </div>
                </div>
            </div>
        </ng-template>

    </ng-select>
</div>

<div class="meteo-data-hint" id="dDataHint">
    <h5 style="text-align: justify;" [innerHtml]="dataHint"></h5>
</div>

<div class="outer-meteo-data-grid">
    <ng-container *ngIf="meteoData?.length > 0">
        <div class="meteo-data-grid" [ngStyle]="dataGridStyle">
            <div id="day_{{md.date}}" *ngFor="let md of meteoData" class="{{ md.date === today ? 'meteo-td-today' : 'meteo-td' }} {{md.tempFeel}}">
                <app-day-summary *ngIf="md" [data]="md" class="{{md.tempFeel}}"></app-day-summary>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!(meteoData?.length > 0)" >
        <img src="assets/images/spinner.gif" style="height: 10rem; color: transparent;" />
    </ng-container>
</div>
