<div style="text-align: start;">
    <br>
    <label class="normal-font-label">{{'protone.desc' | translate}}</label>
    <br><br>
    <ng-container *ngIf="latestBuild">
        <ul class="no-bullets">
            <li><label class="strong-font-label">{{'protone.latest-release' | translate}}</label></li>
            <li>
                <span>
                    <label>&nbsp;*&nbsp;</label>
                    <a href="{{latestBuild.url}}">{{latestBuild.title}}</a>
                    <label>&nbsp;[{{'protone.built-on' | translate}} {{latestBuild.buildDate | date: 'yyyy-MM-dd' }}{{comment(latestBuild)}}]</label>
                </span>
            </li>
        </ul>
    </ng-container>
    <br>
    <ng-container *ngIf="legacyBuilds?.length> 0">
        <ul class="no-bullets">
            <li><label class="strong-font-label">{{'protone.earlier-releases' | translate}}</label></li>
            <li *ngFor="let bi of legacyBuilds">
                <span>
                    <label>&nbsp;*&nbsp;</label>
                    <a href="{{bi.url}}">{{bi.title}}</a>
                    <label>&nbsp;[{{'protone.built-on' | translate}} {{bi.buildDate | date: 'yyyy-MM-dd' }}{{comment(bi)}}]</label>
                </span>
            </li>
        </ul>
    </ng-container>
    <br>
    <ng-container *ngIf="developmentBuilds?.length> 0">
        <ul class="no-bullets">
            <li><label class="strong-font-label">{{'protone.dev-builds' | translate}}</label></li>
            <li *ngFor="let bi of developmentBuilds">
                <span>
                    <label>&nbsp;*&nbsp;</label>
                    <a href="{{bi.url}}">{{bi.title}}</a>
                    <label>&nbsp;[{{'protone.built-on' | translate}} {{bi.buildDate | date: 'yyyy-MM-dd' }}{{comment(bi)}}]</label>
                </span>
            </li>
        </ul>
    </ng-container>
    <br>
    <ul class="no-bullets">
        <li><label class="strong-font-label">{{'protone.other-info' | translate}}</label></li>
        <li [innerHtml]="'protone.link-report-bugs' | translate"></li>
        <li [innerHtml]="'protone.link-source-code' | translate"></li>
        <li [innerHtml]="'protone.dev-requirements' | translate"></li>
    </ul>
</div>
