<mat-card class="mat-card-login">
    <mat-card-header>
        <mat-card-subtitle>{{'auth.logout-desc' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <mat-card-content>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">            
            <button mat-raised-button color="primary" [disabled]="loading" class="login-form-control" style="margin-bottom: 10px;">
                {{'title.logout' | translate}}
            </button>
          </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
        <mat-error *ngIf="error" [innerHtml]="error" class="login-form-control"></mat-error>        
    </mat-card-footer>
</mat-card>
