<div class="users-list">
    <label class="card-subtitle users-list-name">{{ 'users.list' | translate }}</label>
    <table class="table table-bordered table-hover table-sm app-colors">
        <thead>
            <tr class="grid-header-cell">
                <th *ngFor="let col of usersColumns, index as idx" class="{{ 'grid-column-' + col }}">
                    <ng-container *ngIf="idx === 0">
                        <a class="btn-crud grid-column-user-add" (click)="saveUser()" 
                            title="{{'users.add-user' | translate}}">
                            <fa-icon [icon]="faAdd" [transform]="size" style="background-color: white; font-weight: bold;"></fa-icon>
                        </a>
                    </ng-container>
                     <ng-container *ngIf="idx === 1 || idx === 2">
                    </ng-container>
                    <ng-container *ngIf="idx > 2">
                        {{ 'users.' + col | translate }}
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <!-- Add Column -->
                <td></td>
                <!-- Edit Column -->
                <td>
                    <ng-container>
                        <a class="btn-crud grid-column-user-edit" (click)="saveUser(user)"
                            title="{{ 'users.edit-user' | translate: { loginId: user.loginId } }}">
                            <fa-icon [icon]="faEdit" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- Delete Column -->
                <td>
                    <ng-container *ngIf="user.loginId !== currentLoginId">
                        <a class="btn-crud grid-column-user-delete" (click)="onDelete(user.loginId)"
                        title="{{'users.del-user' | translate: { loginId: user.loginId } }}">
                            <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- LoginId Column -->
                <td>
                    <span>{{user.loginId}}</span>
                    <span *ngIf="user.loginId === currentLoginId">
                        &nbsp;{{'users.logged-in' | translate}}
                    </span>
                </td>
                <!-- EmailAddress Column -->
                <td>{{user.emailAddress}}</td>
                <!-- Type Column -->
                <td>{{userType(user)}}</td>
                <!-- otp Column -->
                <td>
                    <fa-icon [icon]="faCheck" [transform]="size" *ngIf="user.useOtp">
                    </fa-icon>
                </td>
                <!-- Login attempts Column -->
                <td>{{user.loginAttemptsRemaining}}</td>
                <!-- Disabled Column -->
                <td>
                    <fa-icon [icon]="faCheck" [transform]="size" *ngIf="!user.enabled">
                    </fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="devices-list">
    <label class="card-subtitle devices-list-name">{{ 'users.device-list' | translate }}</label>
    <table class="table table-bordered table-hover table-sm app-colors">
        <thead>
            <tr class="grid-header-cell">
                <th *ngFor="let col of devicesColumns, index as idx" class="{{ 'grid-column-' + col }}">
                    <ng-container *ngIf="idx === 0 || idx === 1">
                    </ng-container>
                    <ng-container *ngIf="idx >= 2">
                        {{ 'users.' + col | translate }}
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>
                    <ng-container>
                        <a class="btn-crud grid-column-device-view" (click)="onViewDevice(device)"
                            title="{{ 'users.view-device' | translate: { deviceId: device.deviceId } }}">
                            <fa-icon [icon]="faEye" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <td>
                    <ng-container>
                        <a class="btn-crud grid-column-device-delete" (click)="onDeleteDevice(device.deviceId)"
                            title="{{ 'users.del-device' | translate: { deviceId: device.deviceId } }}">
                            <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <td>{{device.deviceId}}</td>
                <td>{{device.lastLoginId}}</td>
                <td>{{device.lastLoginTimestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{device.lastLoginIpAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>