<div class="cities-page">
  <label class="card-subtitle cities-list-name">{{ 'geography.city-list' | translate }}</label>
  <table class="table table-bordered table-hover table-sm app-colors cities-list">
    <thead>
      <tr class="mat-mdc-header-cell">
        <th *ngFor="let col of citiesColumns, index as idx" class="{{ 'mat-column-' + col }}">
          <ng-container *ngIf="idx === 0">
            <a class="btn-crud mat-column-city-add" (click)="saveCity()"
              title="{{ 'geography.add-city' | translate }}">
              <fa-icon [icon]="faAdd" [transform]="size" style="background-color: white; font-weight: bold;"></fa-icon>
            </a>
          </ng-container>
          <ng-container *ngIf="idx > 2">
            {{ 'geography.' + col.replace('city-', '') | translate }}
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of displayedCities">
        <td></td>
        <td>
          <ng-container>
            <a class="btn-crud mat-column-city-edit" (click)="saveCity(city)" 
              title="{{ 'geography.edit-city' | translate: { name: city.name } }}">
              <fa-icon [icon]="faEdit" [transform]="size"></fa-icon>
            </a>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!city.isDefault">
            <a class="btn-crud mat-column-city-delete" (click)="onDelete(city)"
              title="{{ 'geography.del-city' | translate: { name: city.name } }}">
              <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
          </a>
          </ng-container>
        </td>
        <td>{{ city.name }}</td>
        <td>{{ city.regionName }}</td>
        <td>{{ city.subregion }}</td>
        <td>{{ city.lat }}</td>
        <td>{{ city.lon }}</td>
        <td>
          <fa-icon [icon]="faCheck" [transform]="size" *ngIf="city.isDefault"></fa-icon>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="form-group cities-search-term">
    <label for="searchInput">{{ 'geography.cities-filter' | translate }}</label>
    <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm"
      (input)="searchCities($event?.target?.value)">
  </div>
  <pagination [totalItems]="cities.length" [itemsPerPage]="30" [(ngModel)]="currentPage" [boundaryLinks]="true"
    [directionLinks]="true" class="cities-paginator" (pageChanged)="onPageChange($event)" [maxSize]="10">
  </pagination>
</div>