﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Rules for Protone Suite documentation -->
        <!-- Protone 4.x loads documentation from api/wiki/...; redirect to api/Content/render/wiki/... -->
        <rule name="wiki_api_redirect_1" stopProcessing="true">
          <match url="^api/wiki/(.+)$" />
          <action type="Rewrite" url="api/Content/render/wiki/{R:1}" logRewrittenUrl="true" />
        </rule>

        <!-- Protone 3.5 loads documentation from  wiki/...; redirect to api/Content/render/wiki/... -->
        <rule name="wiki_api_redirect_2" stopProcessing="true">
          <match url="^wiki/(.+)$" />
          <action type="Rewrite" url="api/Content/render/wiki/{R:1}" logRewrittenUrl="true" />
        </rule>

        <!-- Protone 3.3 and older load documentation from  protone/protone-suite-docs/...; redirect to api/Content/render/wiki/... -->
        <rule name="protone_docs_redirect" stopProcessing="true">
          <match url="^protone/protone-suite-docs/(.+)$" />
          <action type="Rewrite" url="api/Content/render/wiki/{R:1}" logRewrittenUrl="true" />
        </rule>

        <!-- Rules for Protone version API -->
        <!-- Protone 3.3 and older reads versions from api/protone/v1; redirect URL to api/protone -->
        <rule name="protone_api_redirect" stopProcessing="true">
          <match url="^protone" />
          <conditions>
            <add input="{QUERY_STRING}" matchType="Pattern" pattern="release=(\w+)" />
          </conditions>
          <action type="Rewrite" url="api/protone/v1" logRewrittenUrl="true" />
        </rule>

        <!-- ProTONE OAUTH redirections -->
        <rule name="oauth_redirect" stopProcessing="true">
          <match url="^protone/oauth.aspx" />
          <action type="Redirect" url="http://localhost:11000" logRewrittenUrl="true" />
        </rule>

        <!-- BETA Angular app routes -->
        <rule name="beta_angular_routes" stopProcessing="true">
          <match url="^beta" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/beta" logRewrittenUrl="true" />
        </rule>

        <!-- Angular app routes -->
        <rule name="angular_routes" stopProcessing="true">
          <match url="(^api\/)|(^content\/)" negate="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" logRewrittenUrl="true" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\vhosts\ocpa.ro\tmp" />
  </system.web>
  <!-- test1  -->
</configuration>