<mat-card class="mat-card-login">
    <mat-card-header>
        <mat-card-subtitle>{{'auth.enter-credentials' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <mat-card-content>
        <form class="login-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">            
            <mat-form-field appearance="outline" class="login-form-control">
                <mat-label>{{'auth.username' | translate}}</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="f?.username?.errors?.required">{{'auth.username-required' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="login-form-control">
                <mat-label>{{'auth.password' | translate}}</mat-label>
                <input input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <div class="password-hide-icon"
                    matSuffix
                    tabindex="-1"
                    (click)="hide = !hide"  
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </div>
                <mat-error *ngIf="f?.password?.errors?.required">{{'auth.password-required' | translate}}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="loading" class="login-form-control" style="margin-bottom: 10px;">
                {{'title.login' | translate}}
            </button>
          </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
        <mat-error *ngIf="error" [innerHtml]="error" class="login-form-control"></mat-error>        
    </mat-card-footer>
</mat-card>
