.apps-menus-layout {
    display: grid;
    grid-template-columns: 1fr 5px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "al . aml"
    "ml . aml";
}

.menus-list {
    display: block;
    grid-area: ml;
}

.apps-list {
    display: block;
    grid-area: al;
}

.apps-menus-list {
    display: block;
    grid-area: aml;
}

.menu-row,
.app-row,
.app-menu-row {
    height: 2rem !important;
}

.menu-header-row,
.app-header-row,
.app-menu-header-row {
    height: 2.5rem !important;
}

.mat-column-menu-add {
    @extend .mat-column-crud;
    color: green;
}

.mat-column-menu-edit {
    @extend .mat-column-crud;
    color: navy;
}

.mat-column-menu-delete {
    @extend .mat-column-crud;
    color: red;
}

.mat-column-menu-name, 
.mat-column-menu-display-mode {
    width: auto;
    max-width: 200px;
    text-wrap-mode: nowrap;
}

.mat-column-menu-url {
    width: auto;
    text-wrap-mode: nowrap;
}
