/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.ag-theme-quartz {
    --ag-foreground-color: #053064;
    --ag-background-color: white;

    --ag-header-height: 1.2rem;
    //--ag-header-background-color: #053064;
    --ag-header-foreground-color: green;

    --ag-row-hover-color: salmon;

    --ag-grid-size: 0.4rem;
    --ag-list-item-height: 1.1rem;

    width: 98vw;

    .ag-center-cols-viewport {
        min-height: unset !important;
    }
}
