.meteo-mat-small {
    font-size: 0.73rem;
}

.normal { background-color: $meteo-normal-color !important; }
.warmer { background-color: $meteo-warmer-color !important; }
.much_warmer { background-color: $meteo-much-warmer-color !important; }
.hot { background-color: $meteo-hot-color !important; }
.colder { background-color: $meteo-colder-color !important; }
.much_colder { background-color: $meteo-much-colder-color !important; }
.frost { background-color: $meteo-frost-color !important; }

app-meteo {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "h"
    "c"
    "odg";
}

.meteo-hint {
    grid-area: h;
}

.smart-meteo-controls {
    grid-area: c;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.meteo-data-hint {
    @extend .meteo-hint;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 5px;
    grid-area: dh;
    text-align: justify;
}

.meteo-data-hint-label {
    @extend .meteo-mat-small;
    margin: 0;
}

.meteo-data-browser {
    grid-area: odg;
}

.outer-meteo-data-grid {
    display: grid;
    grid-template-columns: repeat(5, 4rem) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "minus7 minus1 zero plus1 plus7 ."
    "dg dg dg dg dg dg";
}
.inner-meteo-data-grid {
    display: grid;
    grid-area: dg;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "mdg ot";
}

.gridButton {
    color: $forecolor;
    margin-bottom: 10px;
    margin-right: 3px;
    background-color: $backcolor;
    border: 1px solid $forecolor;
    border-radius: 3px;
    font-size: 0.75rem;
}
.minus7 {
    @extend .gridButton;
    grid-area: minus7;
}
.minus1 {
    @extend .gridButton;
    grid-area: minus1;
}
.zero {
    @extend .gridButton;
    grid-area: zero;
}
.plus1 {
    @extend .gridButton;
    grid-area: plus1;
}
.plus7 {
    @extend .gridButton;
    grid-area: plus7;
}

.meteo-data-grid {
    grid-area: mdg;
    display: flex;
    overflow-y: auto;
}
.meteo-data-grid-empty {
    @extend .meteo-data-grid;
    border: unset;
}
//----
.img-day-summary-forecast {
    margin: 0;
    padding: 0;
    align-self: center;
    height: 3rem;
}

// --- Temp cell ---
.temp-low-cell {
    display: grid;
    color: blue;
    grid-template-rows: 1fr;
    grid-template-columns: 1rem 1fr 1rem 1fr;
    grid-template-areas: "sl tla tln";
    margin-bottom: 5px;
    margin-top: 5px;
}
.temp-high-cell {
    display: grid;
    color: red;
    grid-template-rows: 1fr;
    grid-template-columns: 1rem 1fr 1rem 1fr;
    grid-template-areas: "sl tla tln";
    margin-bottom: 5px;
    margin-top: 5px;
}
.temp-symbol {
    grid-area: sl;
}
.temp-actual {
    grid-area: tla;
    font-weight: bold;
    margin-right: 5px;
}
.temp-normal {
    grid-area: tln;
    font-size: 0.8rem;
}
// -------------------- 

.mat-meteo-column {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

// --- Date cell ---
.mat-column-date {
    @extend .mat-meteo-column;
    padding: 3px !important;
}
.date-cell {
    display: grid;
    text-align: center;
    padding: 2px;
    background-color: gray;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "dow"
    "dom";
}
.dow-row {
    grid-area: dow;
    text-transform: uppercase;
    color: white;
}
.dom-row {
    grid-area: dom;
    color: white;
}
.date-cell-weekend {
    @extend .date-cell;
    background-color: $meteo-weekend-header-color;
}
// -------------------- 

// --- Cell borders ---
#meteo-calendar {
    grid-area: mc;
    .mat-mdc-cell {
        // border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }
}
.raw-cell-today {
    border: $meteo-border-today;
}
.raw-cell-selected {
    border: $meteo-border-selected;
}
.left-cell-today {
    @extend .raw-cell-today;
    border-right: unset !important;
}
.center-cell-today {
    @extend .raw-cell-today;
    border-left: unset !important;
    border-right: unset !important;
}
.right-cell-today {
    @extend .raw-cell-today;
    border-left: unset !important;
}
.left-cell-selected {
    @extend .raw-cell-selected;
    border-right: unset !important;
}
.center-cell-selected {
    @extend .raw-cell-selected;
    border-left: unset !important;
    border-right: unset !important;
}
.right-cell-selected {
    @extend .raw-cell-selected;
    border-left: unset !important;
}
// -------------------- 

// --- other cells ---
.mat-mdc-header-cell {
    background-color: aquamarine !important;
    height: 3rem !important;
}

.mat-column-symbol,
.mat-column-summary,
.mat-column-temp,
.mat-column-precip {
    @extend .mat-meteo-column;
}
.mat-column-risks {
    @extend .mat-meteo-column;
    padding-right: 15px !important
}

// --------------------

// --- to add other UI elements, put them in this area
.meteo-data-other {
    grid-area: ot;
    display: flex;
    overflow-y: auto;
}
// -------------------- 

// ----------------------------------------------------------------
app-day-risks {
    grid-area: risk;
    display: block;
    text-align: justify;
    margin-bottom: 0;
}

.hazard {
    text-align: justify;
    vertical-align: top;
    color: $meteo-temp-max;
}

.img-hazard {
    margin-top: 2px;
    margin-right: 2px;
    padding: 0;
    align-self: center;
    height: 2vh;
}


/* MOBILE
----------------------------------------------------------*/
@media screen and (max-width: 1080px) and (orientation: portrait) {
    .meteo-data-other {
        display: none;
    }
}
