/////////////////////////
/// meteo page styles ///
/////////////////////////

.normal { background-color: $meteo-normal-color; }
.warmer { background-color: $meteo-warmer-color; }
.much_warmer { background-color: $meteo-much-warmer-color; }
.hot { background-color: $meteo-hot-color; }
.colder { background-color: $meteo-colder-color; }
.much_colder { background-color: $meteo-much-colder-color; }
.frost { background-color: $meteo-frost-color; }

.meteo-td, .meteo-td-no-data {
    text-align: left;
    vertical-align: top;
    border: 1px solid $meteo-table-line-color;
    width: 12vw;
}

.meteo-td-today {
    text-align: left;
    vertical-align: top;
    border: 5px solid $meteo-today-border-color;
    width: 12vw;
}

.week-data {
    display: flex;
    flex-direction: row;
    width: 91vw;
}

app-day-summary {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "h h h h h h h"
    "e e e e e e e"
    "s s d d d d d"
    "hs ha hn ls la ln ."
    "i i i i i i i"
    ;
    background-color: $backcolor;
}   

.day-summary-header-normal {
    grid-area: h;
    background-color: $forecolor;
    text-transform: uppercase;
    color: $backcolor;
    font-weight: normal;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 2px;
    padding: 2px;
}

.day-summary-header-weekend {
    grid-area: h;
    background-color: $meteo-weekend-header-color;
    text-transform: uppercase;
    color: $backcolor;
    font-weight: bold;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 2px;
    padding: 2px;
}

.day-summary-no-data {
    grid-area: e;
    color: $meteo-table-line-color;
    align-self: center;
}

.img-day-summary-forecast {
    grid-area: s;
    margin: 0;
    padding: 0;
    align-self: center;
    width: 3vw;
    height: auto;
}


.img-day-summary-temp-max {
    grid-area: hs;
    margin-left: 2px;
    margin-top: 2px;
    padding: 0;
    align-self: center;
    height: 2vh;
}

.img-day-summary-temp-min {  
    grid-area: ls;
    margin-left: 5px;
    margin-top: 2px;
    padding: 0;
    align-self: center;
    height: 2vh;
}

.day-summary-temp-max-actual {
    grid-area: ha;
    padding: 0;
    color: $meteo-temp-max;
    font-size: 0.9rem;
    align-self: center;
    margin-top: 2px;
}

.day-summary-temp-max-normal {
    grid-area: hn;
    margin-top: 2px;
    padding: 0;
    color: $meteo-temp-max;
    font-size: 0.8rem;
    align-self: center;
    text-align: start;
}

.day-summary-temp-min-actual {
    grid-area: la;
    margin: 0;
    padding: 0;
    color: $meteo-temp-min;
    font-size: 0.9rem;
    align-self: center;
    text-align: end;
}

.day-summary-temp-min-normal {
    grid-area: ln;
    margin: 0;
    padding: 0;
    color: $meteo-temp-min;
    font-size: 0.8rem;
    align-self: center;
    text-align: start;
}

app-day-details {
    grid-area: i;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "risk"
    "pres"
    "wind"
    "rain"
    "snow"
    "snowc";
    grid-template-rows: auto auto auto auto auto auto;
    margin-top: 5px;
    margin-left: 5px;
}

app-day-risks {
    grid-area: risk;
    display: block;
    text-align: justify;
    margin-bottom: 0;
}

.detail {
    text-align: justify;
    font-size: 0.72rem;
    vertical-align: middle;
    margin: 0;
    color: $forecolor;
}

.hazard {
    text-align: justify;
    font-size: 0.72rem;
    vertical-align: middle;
    font-weight: bolder;
    color: $meteo-temp-max;
}
.img-hazard {
    width: 1vw;
}

.detail-wind {
    grid-area: wind;
    text-align: justify;
}

.detail-snow-cover {
    grid-area: snowc;
    text-align: justify;
}

.detail-snow {
    grid-area: snow;
    text-align: justify;
}

.detail-rain {
    grid-area: rain;
    text-align: justify;
}

.detail-pres {
    grid-area: pres;
    text-align: justify;
}


.detail-desc-label {
    grid-area: d;
    text-align: justify;
    align-self: center;
    font-size: 0.75rem;
    font-weight: bold;
    margin-left: 3px;
    vertical-align: middle;
    color: $forecolor;
    white-space: nowrap;
}

.meteo-day {
    width: 8vw;
}

.meteo-week {
    display: flex;
    flex-direction: row;
}

.meteo-controls {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-areas: 
    "lr sr"
    "ls ss"
    "lc sc";
    grid-template-rows: auto auto auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.label-region {
    grid-area: lr;
    text-align: right;
    margin: 5px;
}
.label-subregion {
    grid-area: ls;
    text-align: right;
    margin: 5px;
}
.label-city {
    grid-area: lc;
    text-align: right;
    margin: 5px;
}

.meteo-select {
    color: $forecolor;
    background-color: $backcolor;
    margin: 5px;
}

.select-region {
    @extend .meteo-select;
    grid-area: sr;
}
.select-subregion {
    @extend .meteo-select;
    grid-area: ss;
}
.select-city {
    @extend .meteo-select;
    grid-area: sc;
}

/* MOBILE
----------------------------------------------------------*/
@media only screen and (max-width: 1080px) {
    .meteo-td-no-data {
        visibility: hidden;
        height: 0;
    }

    .meteo-td {
        width: 30vw;
    }

    .meteo-td-today {
        width: 30vw;
    }

    .week-data {
        flex-direction: column;
        width: 32vw;
    }

    .img-day-summary-forecast {
        width: 5vw;
    }

    .img-day-summary-temp-max {
        height: 3vh;
    }

    .img-day-summary-temp-min {
        height: 3vh;
    }

    .img-hazard {
        width: 2vw;
    }
}
