//////////////////////////////
/// navigation menu styles ///
//////////////////////////////

#navbarContainer {
    max-width: unset;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "b . m";
}

.nav-link {
    color: $nav-forecolor;
    margin-left: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    display: contents;
}

.nav-link:hover, .nav-link:focus, .link-active {
    color: $nav-forecolor;
    background-color: $nav-alt-backcolor;
    border-radius: 1em;
}

body > app-root > div > app-nav-menu > nav, body > app-root > div > app-admin-nav-menu > nav {
    background-color: $nav-backcolor;
    border-radius: 0.2em;
    width: calc(99vw - 10px);
    margin-left: 0.2vw;
    margin-top: 0.2vw;
}

#navbarMenu {
    grid-area: m;
}

.navbar-brand {
    display: grid;
    grid-area: b;
    grid-template-columns: 2em 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "i t";
}

.navbar-title {
    grid-area: t;
    margin-left: 1.5em;
    color: $nav-forecolor;
    align-content: center;
    font-size: 1.5em;
}

.navbar-image {
    grid-area: i;
    align-content: center;
    margin-left: 0.5em;
}

.navbar-alt-image-color {
    color: $nav-forecolor;
}

.navbar-nav {
    display: flex;
    flex-flow: row;
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
    margin: 0;
    padding: 0.5em;
}