.navbar-nav {
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    list-style-type: none;
    text-align: start;
}

.nav-item {
    cursor: pointer;
}

.nav-link {
    color: $nav-forecolor;
    text-decoration: none;
    display: contents;
    cursor: pointer;
}

.nav-link:hover, .nav-link:focus, .link-active {
    color: $nav-forecolor;
    background-color: $nav-alt-backcolor;
    border-radius: 5px;
}

.nav-link-div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2rem 1fr;
    grid-template-areas: "img txt";
    padding: 6px;
}
.nav-link-img {
    grid-area: img;
    margin: 0;
    cursor: pointer;
    align-content: center;
}
.nav-link-txt {
    grid-area: txt;
    margin: 0;
    align-content: center;
    cursor: pointer;
}


#navbarContainer {
    display: grid;
    grid-template-rows: 3rem 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "b"
    "."
    "m";
}

#navbarMenu {
    grid-area: m;
}

.navbar-brand {
    display: grid;
    grid-area: b;
    grid-template-columns: 2em 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "i t";
    border-bottom: 1px solid $backcolor;
}

.navbar-title {
    grid-area: t;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    color: $nav-forecolor;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-image {
    grid-area: i;
    align-content: center;
    margin-left: 0.5em;
}

.navbar-alt-image-color {
    color: $nav-forecolor;
}
