@import './variables.scss';
@import './navbar.scss';
@import './homepage.scss';
@import './meteopage.scss';

body {
    color: $forecolor;
    background-color: $backcolor;
}

:root {
    font-size: 1vw;
    color: $forecolor;
    background-color: $backcolor;
}

#mainContainer {
    margin-left: 0.5em;
}

.container {
    margin: 0;
}

.main {
    font-family: $font-family;
    font-size: 1vw;
    color: $forecolor;
}

p, td {
    font-size: 0.95rem;
    line-height: 1.3em;
    padding-bottom: 0;
}

td {
    text-align: justify;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, div {
    color: $forecolor;
    text-transform: none;
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
}

h3, .dropDown, .list {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

h5, div {
    font-size: 0.9rem;
}

.container {
    position: relative;
    text-align: center;
    color: $backcolor;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1080px) {
    :root {
        font-size: 2vw;
    }
}