@use '@angular/material' as mat;
@use 'custom-theme.scss';

@import './variables.scss';
@import './navbar.scss';
@import './homepage.scss';
@import './smart-city-search.scss';
@import './meteopage.scss';
@import './meteo-photos.scss';
@import './protone.scss';
@import './login-form.scss';
@import './users-page.scss';
@import './meteo-database.scss';
@import './apps-menus.scss';

body, :root {
    color: $forecolor;
    background-color: $backcolor;
    font-family: $font-family;
}

app-root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "anm"
    "ro";
    width: 99.5vw;
    max-width: 99.5vw;
    height: $site-height;
    max-height: $site-height;
    overflow: hidden;
}

#app-nav-menu {
    grid-area: anm;
    color: $nav-forecolor;
    background-color: $nav-backcolor;
}

#router-outlet {
    grid-area: ro;
    height: 80wh;
    max-height: 80wh;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.container {
    position: relative;
    text-align: center;
    color: $backcolor;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.domHide[domHide=true]  {
    display: none;
    visibility: hidden;
}

.mat-column-crud {
    width: 16px;
    min-width: 16px;
    max-width: 16px;
    margin: 0;
}
.mat-mdc-header-cell {
    background-color: $forecolor !important;
    color: $backcolor !important;
    height: 3rem !important;
}

.session-expired-message .mat-dialog-container {
    z-index: 2000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;    
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.two-fields-zone {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "lf . rf";
}
.two-fields-zone-left {
    align-self: center;
    grid-area: lf;
}
.two-fields-zone-right {
    align-self: center;
    grid-area: rf;
}

.success-snackbar {
    .mdc-snackbar__surface {
        background-color: green !important;
    }
}

.error-snackbar {
    .mdc-snackbar__surface {
        background-color: maroon !important;
    }
}

.mat-mdc-dialog-content {
    max-height: unset !important;
}

.unavailable-page {
    margin-top: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-auto-flow: row;
}


/* MOBILE
----------------------------------------------------------*/
@media screen and (max-width: 1080px) and (orientation: portrait) {
    #router-outlet {
        height: 90vh;
        max-height: 90vh;
    }
}