.smart-city-card {
    margin-inline-start: 0.1vw;
    margin-bottom: 0;
}

#smart-city-select {
    > .ng-select-container {
       height: 4vh;
       border: 2px solid #6d7e94;
    }
    > div > div > div.ng-input > input[type=text] {
        font-size: 1.25em;
    }
    > ng-dropdown-panel > .ng-dropdown-panel-items > .scrollable-content > .ng-option {
        padding: 0;
        padding-left: 8px;
    }
}

.smart-city-card-body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "f n r";
    align-items: center;
}

.smart-city-name {
    font-weight: bold;
    text-align: justify;
    margin-left: 0.5em;
    grid-area: n;
}
.smart-city-flag {
    grid-area: f;
    min-height: 4vh;
    max-height: 4vh;
    margin: 0;
    margin-left: 0.2em;
    text-align: justify;
}

.smart-city-flag-image {
    height: 4vh;
    margin: 0;
}

.smart-city-info {
    grid-area: r;
    margin-left: 0.5em;
    text-align: justify;
}

.smart-city-label {
    @extend .smart-city-card-body;
}

.smart-city-label[dd-focused=true] {
    display: none;
}

.smart-city-label-name {
    @extend .smart-city-name;
}

.smart-city-label-info {
    @extend .smart-city-info;
}

.smart-city-label-flag {
    @extend .smart-city-flag;    
}

.smart-city-label-flag-image {
    @extend .smart-city-flag-image;
}

/* MOBILE
----------------------------------------------------------*/
:root[mobile="true"] {
    #smart-city-select {
        > .ng-select-container {
            width: calc(98.5vw - 20px);
        }

        .ng-select-container .ng-value-container {
            padding: 0;
        }
    }
}