<div class="card mat-user-card">
    <div class="card-header py-1 px-2">
        <label class="card-subtitle mb-0" [innerHtml]="'devices-dialog.info' | translate: { device: device?.deviceId}"></label>
    </div>
    <hr class="my-0" />
    <div class="card-body mat-user-card-content p-3">
        <div style="display: grid;">
            <ul class="no-bullets">
                <li *ngFor="let item of deviceInfo | keyvalue">
                    <span>
                        <label>&nbsp;&nbsp;<b>{{item.key}}:</b>&nbsp;{{item.value}}</label>
                    </span>
                </li>
            </ul>
            <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-primary" (click)="onClose()" autofocus>
                    {{'Close' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>