<div class="card mat-user-card">
    <div class="card-header py-1 px-2">
        <label class="card-subtitle mb-0" [innerHtml]="title | translate: { name: titleName }"></label>
    </div>
    <hr class="my-0" />
    <div class="card-body mat-user-card-content p-0">
        <form mat-dialog-content class="node-name-dialog-form" [formGroup]="form" (ngSubmit)="onOk()"
            style="padding: 1rem;">
            <div style="display: grid;">
                <div class="form-group node-name-form-control">
                    <label>{{nameLabel | translate}}</label>
                    <input type="text" class="form-control" formControlName="name" [(value)]="data.node.name" />
                    <div *ngIf="f?.name?.errors" class="text-danger">
                        {{'node-name-dialog.name-required' | translate}}
                    </div>
                </div>
                <div class="node-name-form-control mt-3">
                    <button type="submit" class="btn btn-primary me-2" (click)="onOk()">
                        {{'OK' | translate}}
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="onCancel()">
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>