<div class="card mat-app-card">
  <div class="card-header py-1 px-2">
    <label class="card-subtitle mb-0" [innerHtml]="title | translate: {name: app?.name}"></label>
  </div>
  <hr class="my-0" />
  <div class="card-body mat-app-card-content p-0">
    <form class="app-dialog-form p-3" [formGroup]="appForm" (ngSubmit)="onOk()">
      <div class="d-grid gap-2">
        <div class="form-group app-form-control">
          <label for="name">{{'app-dialog.name' | translate}}</label>
          <input type="text" class="form-control" id="name" formControlName="name" />
          <div *ngIf="f?.name?.errors" class="text-danger">
            {{'app-dialog.name-required' | translate}}
          </div>
        </div>

        <div class="form-group app-form-control">
          <label for="code">{{'app-dialog.code' | translate}}</label>
          <input type="text" class="form-control" id="code" formControlName="code" />
          <div *ngIf="f?.code?.errors" class="text-danger">
            {{'app-dialog.code-required' | translate}}
          </div>
        </div>

        <div>
          <app-custom-checkbox #loginRequired [label]="'app-dialog.login-required' | translate">
          </app-custom-checkbox>
        </div>

        <div>
          <app-custom-checkbox #adminMode [label]="'app-dialog.admin-mode' | translate"></app-custom-checkbox>
        </div>

        <div class="app-form-control d-flex justify-content-start">
          <button type="submit" class="btn btn-primary me-3" (click)="onOk()">
            {{'OK' | translate}}
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            {{'Cancel' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>