<div style="text-align: justify;">
    <label mat-small *ngIf="studioDownloadUrl?.length > 0">
        Download latest Thorus Weather Studio from <a href="{{studioDownloadUrl}}">here.</a>
    </label>
</div>

<div style="text-align: justify; margin-top: 1rem;">
    <label mat-small style="margin-bottom: 0.2rem;">Database list:</label>
    <table mat-table [dataSource]="databases">
        <!-- Upload Column -->
        <ng-container matColumnDef="db-upload">
            <td mat-cell *matCellDef="let db">
                <a *ngIf="!db.online"
                    class="table-link" (click)="upload(db)" title="Upload preview database">
                    <fa-icon [icon]="faUpload" [transform]="size"></fa-icon>
                </a>
            </td>
        </ng-container>
        <!-- View Column -->
        <ng-container matColumnDef="db-view">
            <td mat-cell *matCellDef="let db">
                <a class="table-link" (click)="view(db)" title="View database">
                    <fa-icon [icon]="faEye" [transform]="size"></fa-icon>
                </a>
            </td>
        </ng-container>
        <!-- Promote Column -->
        <ng-container matColumnDef="db-promote">
            <td mat-cell *matCellDef="let db">
                <a *ngIf="!db.online"
                    class="table-link" (click)="promote(db)" title="Promote as ONLINE">
                    <fa-icon [icon]="faPromote" [transform]="size"></fa-icon>
                </a>
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="db-name">
            <td mat-cell *matCellDef="let db">{{db.name}}</td>
        </ng-container>

         <!-- Status Column -->
         <ng-container matColumnDef="db-status">
            <td mat-cell *matCellDef="let db">{{ db.online ? 'ONLINE' : 'Offline' }}</td>
        </ng-container>

         <!-- Range Column -->
         <ng-container matColumnDef="db-range">
            <td mat-cell *matCellDef="let db">{{range(db)}}</td>
        </ng-container>

         <!-- Data Count Column -->
         <ng-container matColumnDef="db-length">
            <td mat-cell *matCellDef="let db">{{db.dataCount}}</td>
        </ng-container>

        <!-- Filler Column -->
        <ng-container matColumnDef="db-filler">
            <td mat-cell *matCellDef="let db"></td>
        </ng-container>
        <tr mat-row class="meteo-db-row" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div>
    <app-meteo-data-browser #meteoDataBrowser class="meteo-data-browser"></app-meteo-data-browser>
</div>