<mat-card class="mat-user-card">
    <mat-card-header style="padding: 0; padding-left: 0.1rem; padding-top: 0.1rem; padding-bottom: 0.1rem;">
        <mat-card-subtitle [innerHtml]="title | translate: {loginId: user?.loginId}"></mat-card-subtitle>
    </mat-card-header>
    <mat-divider style="margin: 0;"></mat-divider>
    <mat-card-content class="mat-user-card-content" style="padding: 0;">
        <form mat-dialog-content class="user-dialog-form" [formGroup]="userForm" (ngSubmit)="onOk()" style="padding: 1rem;">
            <div style="display: grid;">
                <mat-form-field appearance="outline" class="user-form-control">
                    <mat-label>{{'auth.username' | translate}}</mat-label>
                    <input formControlName="u1" matInput>
                    <mat-error *ngIf="f?.u1?.errors?.required">{{'auth.username-required' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="user-form-control" >
                    <mat-label>{{'user-dialog.user-type' | translate}}</mat-label>
                    <mat-select formControlName="t1">
                        <mat-option *ngFor="let userType of userTypes;" [value]="userType.id">
                          {{userType.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <label class="mat-small domHide" [attr.domHide]="!editMode">
                    {{'user-dialog.password-hint' | translate}}
                </label>
                <mat-form-field appearance="outline" class="user-form-control">
                    <mat-label>{{'auth.password' | translate}}</mat-label>
                    <input formControlName="p1" matInput [type]="hide ? 'password' : 'text'">
                    <div class="password-hide-icon"
                        matSuffix
                        tabindex="-1"
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error *ngIf="f?.p1?.errors?.required">{{'auth.password-required' | translate}}</mat-error>
                    <mat-error *ngIf="f?.p1?.errors?.minlength">{{'user-dialog.password-length-hint' | translate}}</mat-error>
                </mat-form-field>    
                <mat-form-field appearance="outline" class="user-form-control" >
                    <mat-label>{{'auth.repeat-password' | translate}}</mat-label>
                    <input formControlName="p2" matInput [type]="hide ? 'password' : 'text'">
                    <div class="password-hide-icon"
                        matSuffix
                        tabindex="-1"
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error *ngIf="f?.p2?.errors?.required">{{'auth.password-required' | translate}}</mat-error>
                    <mat-error *ngIf="f?.p2?.errors?.minlength">{{'user-dialog.password-length-hint' | translate}}</mat-error>
                    <mat-error *ngIf="f?.p2?.errors?.unmatched">{{'user-dialog.password-match-hint' | translate}}</mat-error>
                </mat-form-field>
                <div class="user-form-control">
                    <mat-label>{{'auth.disabled-account' | translate}}</mat-label>
                    <mat-checkbox [checked]="!(user.enabled)" (change)="user.enabled = !($event.checked)">
                    </mat-checkbox>
                </div>
                <div class="user-form-control" *ngIf="isApplicationUser">
                    <mat-label>{{'auth.user-apps' | translate}}</mat-label>
                    <mat-chip-listbox multiple>
                        <mat-chip-option *ngFor="let app of apps" [value]="app" [selected]="app.selected"
                            (selectionChange)="app.selected = $event.selected">
                            {{app.name}}
                        </mat-chip-option>  
                    </mat-chip-listbox>   
                </div>
                <div mat-dialog-actions class="user-form-control">
                    <button style="margin: 0; padding: 0; margin-right: 15px;" mat-raised-button color="primary" (click)="onOk()"cdkFocusInitial>
                        {{'OK' | translate}}
                    </button>
                    <button style="margin: 0; padding: 0; " mat-raised-button (click)="onCancel()">
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>