<div class="card mat-user-card">
  <!-- Card Header -->
  <div class="card-header p-1 ps-3 pt-2 pb-1" *ngIf="options?.title?.length > 0">
    <label class="card-subtitle" [innerHtml]="options?.title"></label>
  </div>

  <!-- Divider -->
  <hr class="m-0" />

  <!-- Card Content -->
  <div class="card-body mat-user-card-content p-0">
    <!-- Message -->
    <label class="px-3 pt-2 pb-1" *ngIf="options?.message?.length > 0" [innerHtml]="options?.message"></label>

    <!-- Actions -->
    <div class="user-form-control mt-3 px-3 mb-3">
      <button type="button" class="btn btn-primary me-3" (click)="onYes()" autofocus>
        {{ (options?.yesButtonText?.length > 0 ? options?.yesButtonText : 'Yes') | translate }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="onNo()">
        {{ (options?.noButtonText?.length > 0 ? options?.noButtonText : 'No') | translate }}
      </button>
    </div>
  </div>
</div>