<table cellpadding="5" cellspacing="5" border="0"  style="align-self: center;">
    <tr>
        <td colspan="2">
            <h2 style="align-self: center;">Welcome! Please choose one of the categories below, or use the right-top menu.</h2>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <a routerLink="/meteo">
                    <img src="assets/images/meteo.jpg" class="home-image" />
                    <div class="bottom-centered">Weather Forecast</div>
                </a>
            </div>
        </td>
        <td>
            <div class="container">
                <a routerLink="/protone">
                    <img src="assets/images/protone.jpg" class="home-image" />
                    <div class="bottom-centered" style="color: black;">ProTONE Player</div>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <a routerLink="/electronics">
                    <img src="assets/images/electronics.jpg" class="home-image" />
                    <div class="bottom-centered">Electronics Blog</div>
                </a>
            </div>
        </td>
        <td>
            <div class="container">
                <a routerLink="/photography">
                    <img src="assets/images/photography.jpg" class="home-image" />
                    <div class="bottom-centered">Photo Album</div>
                </a>
            </div>
        </td>
    </tr>
</table>

