<div style="text-align: justify;">
    <label mat-small *ngIf="studioDownloadUrl?.length > 0" 
        [innerHtml]="'meteo-db.download-studio-link' | translate: { url: studioDownloadUrl }">
    </label>
</div>

<div style="text-align: justify; margin-top: 1rem; margin-right: 0.5rem;">
    <label class="card-subtitle databases-list-name">{{ 'meteo-db.db-list' | translate }}</label>
    <table class="table table-bordered table-hover table-sm app-colors databases-list">
        <thead>
            <tr class="mat-mdc-header-cell">
                <th *ngFor="let col of displayedColumns, index as idx" class="{{ 'mat-column-' + col }}">
                <ng-container *ngIf="idx === 0 || idx === 1 || idx === 2 || idx === 3">
                </ng-container>
                <ng-container *ngIf="idx > 3">
                    {{ 'meteo-db.' + col.replace('db-', '') | translate }}
                </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let db of databases">
                <!-- View Column -->
                <td>
                    <ng-container *ngIf="db.status !== MeteoDbStatus.Absent && db.dataCount > 0">
                        <a class="btn-crud mat-column-db-view" (click)="view(db)" 
                            title="{{'meteo-db.db-view' | translate}}">
                            <fa-icon [icon]="faEye" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- Upload Column -->
                <td>
                    <ng-container *ngIf="db.status !== MeteoDbStatus.Online">
                        <a class="btn-crud mat-column-db-upload" (click)="upload(db)" 
                            title="{{'meteo-db.db-upload' | translate}}">
                            <fa-icon [icon]="faUpload" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- Delete Column -->
                <td>
                    <ng-container *ngIf="db.status === MeteoDbStatus.Offline">
                         <a class="btn-crud mat-column-db-delete" (click)="delete(db)" 
                            title="{{'meteo-db.db-delete' | translate}}">
                            <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- Promote Column -->
                <td>
                    <ng-container *ngIf="db.status === MeteoDbStatus.Offline && db.dataCount > 0">
                        <a class="btn-crud mat-column-db-promote" (click)="promote(db)" 
                            title="{{'meteo-db.db-promote' | translate}}">
                            <fa-icon [icon]="faPromote" [transform]="size"></fa-icon>
                        </a>
                    </ng-container>
                </td>
                <!-- Name Column -->
                <td>{{ db.name }}</td>
                <!-- Status Column -->
                <td>{{ status(db) }}</td>
                <!-- Range Column -->
                <td>{{ range(db) }}</td>
                <!-- Count Column -->
                <td>{{ db.dataCount ?? 'n/a' }}</td>
            </tr>
        </tbody>
    </table>
</div>
