<div class="card card-user">
    <div class="card-header py-1 px-2">
        <label class="card-subtitle mb-0" [innerHtml]="title | translate: {name: city?.name}"></label>
    </div>
    <hr class="my-0" />
    <div class="card-body p-0 card-user-content">
        <form [formGroup]="cityForm" (ngSubmit)="onOk()" class="user-dialog-form p-3">
            <div class="form d-flex">
                <div class="left flex-grow-1 me-3">
                    <div class="mb-3 user-form-control">
                        <label class="form-label">{{'city-dialog.name' | translate}}</label>
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="city.name" />
                        <div *ngIf="f?.name?.errors" class="invalid-feedback d-block">
                            {{'city-dialog.name-required' | translate}}
                        </div>
                    </div>

                    <div class="mb-3 user-form-control">
                        <label class="form-label">{{'city-dialog.region' | translate}}</label>
                        <select class="form-select" formControlName="region" [(ngModel)]="selectedRegion"
                            (change)="onRegionChanged()">
                            <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
                        </select>
                        <div *ngIf="f?.region?.errors" class="invalid-feedback d-block">
                            {{'city-dialog.region-required' | translate}}
                        </div>
                    </div>

                    <div class="mb-3 user-form-control">
                        <label class="form-label">{{'city-dialog.subregion' | translate}}</label>
                        <select class="form-select" formControlName="subregion" [(ngModel)]="selectedSubregion">
                            <option *ngFor="let sr of (selectedRegion?.subregions ?? [])" [ngValue]="sr">{{sr}}</option>
                        </select>
                        <div *ngIf="f?.subregion?.errors" class="invalid-feedback d-block">
                            {{'city-dialog.subregion-required' | translate}}
                        </div>
                    </div>

                    <div class="mb-3 user-form-control">
                        <label class="form-label">{{'city-dialog.latitude' | translate}}</label>
                        <input type="number" class="form-control" formControlName="latitude" [(ngModel)]="city.lat"
                            [readonly]="true" [min]="selectedRegion.minLat" [max]="selectedRegion.maxLat" />
                        <div *ngIf="f?.latitude?.errors" class="invalid-feedback d-block">
                            {{'city-dialog.latitude-range' | translate: {min: selectedRegion.minLat, max:
                            selectedRegion.maxLat} }}
                        </div>
                    </div>

                    <div class="mb-3 user-form-control">
                        <label class="form-label">{{'city-dialog.longitude' | translate}}</label>
                        <input type="number" class="form-control" formControlName="longitude" [(ngModel)]="city.lon"
                            [readonly]="true" [min]="selectedRegion.minLon" [max]="selectedRegion.maxLon" />
                        <div *ngIf="f?.longitude?.errors" class="invalid-feedback d-block">
                            {{'city-dialog.longitude-range' | translate: {min: selectedRegion.minLon, max:
                            selectedRegion.maxLon} }}
                        </div>
                    </div>

                    <div class="form-check user-form-control" *ngIf="editMode">
                        <app-custom-checkbox [label]="'city-dialog.default' | translate"
                            [checked]="city.isDefault"
                            (checkedChange)="city.isDefault = $event"
                            ></app-custom-checkbox>
                    </div>

                    <div class="user-form-control mt-3">
                        <button type="submit" class="btn btn-primary me-2">
                            {{'OK' | translate}}
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="onCancel()">
                            {{'Cancel' | translate}}
                        </button>
                    </div>
                </div>

                <div class="right">
                    <google-map height="400px" width="400px" id="map" [center]="center" [zoom]="zoom"
                        (mapClick)="onClickMap($event)">
                    </google-map>
                </div>
            </div>
        </form>
    </div>
</div>