<div class="apps-menus-layout">
    <div class="menus-list">
        <label mat-small style="margin-bottom: 0.2rem;">{{'apps-menus.menu-list' | translate}}</label>
        <table mat-table [dataSource]="menus" >
            <!-- Add Column -->
            <ng-container matColumnDef="menu-add">
                <th mat-header-cell *matHeaderCellDef>
                    <a class="table-link" (click)="saveMenu()" title="{{'apps-menus.add-menu' | translate}}">
                        <fa-icon [icon]="faAdd" [transform]="size"></fa-icon>
                    </a>
                </th>
                <td mat-cell *matCellDef="let menu"></td>
            </ng-container>
            <!-- Edit Column -->
            <ng-container matColumnDef="menu-edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let menu">
                    <a class="table-link" (click)="saveMenu(menu)" *ngIf="!menu.builtin"
                        title="{{'apps-menus.edit-menu' | translate: { desc: menu.name } }}">
                        <fa-icon [icon]="faEdit" [transform]="size"></fa-icon>
                    </a>
                </td>
            </ng-container>
            <!-- Delete Column -->
            <ng-container matColumnDef="menu-delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let menu">
                    <a class="table-link" (click)="deleteMenu(menu.Id)" *ngIf="!menu.builtin"
                        title="{{'apps-menus.del-menu' | translate: { desc: menu.name } }}">
                        <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                    </a>
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="menu-name">
                <th mat-header-cell *matHeaderCellDef>{{'apps-menus.menu-name' | translate}}</th>
                <td mat-cell *matCellDef="let menu">{{menu.name}}</td>
            </ng-container>
            <!-- URL Column -->
            <ng-container matColumnDef="menu-url">
                <th mat-header-cell *matHeaderCellDef>{{'apps-menus.menu-url' | translate}}</th>
                <td mat-cell *matCellDef="let menu">{{menu.url}}</td>
            </ng-container>
            <!-- DisplayMode Column -->
            <ng-container matColumnDef="menu-display-mode">
                <th mat-header-cell *matHeaderCellDef>{{'apps-menus.menu-display-mode' | translate}}</th>
                <td mat-cell *matCellDef="let menu">{{displayMode(menu.displayModeId)}}</td>
            </ng-container>
            <!-- Icon Column -->
            <ng-container matColumnDef="menu-icon">
                <th mat-header-cell *matHeaderCellDef>{{'apps-menus.menu-icon' | translate}}</th>
                <td mat-cell *matCellDef="let menu">
                    <fa-icon [icon]="icons[menu.menuIcon]" [transform]="size" title="{{menu.menuIcon}}"></fa-icon>
                </td>
            </ng-container>
            <!-- Builtin Column -->
            <ng-container matColumnDef="menu-builtin">
                <th mat-header-cell *matHeaderCellDef>{{'apps-menus.menu-builtin' | translate}}</th>
                <td mat-cell *matCellDef="let menu">
                    <fa-icon [icon]="faCheck" [transform]="size" *ngIf="menu.builtin">
                    </fa-icon>
                </td>
            </ng-container>           
            <!-- Filler Column -->
            <ng-container matColumnDef="menu-filler">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user"></td>
            </ng-container>
            <tr mat-header-row class="menu-header-row" *matHeaderRowDef="menusColumns"></tr>
            <tr mat-row class="menu-row" *matRowDef="let row; columns: menusColumns;"></tr>
        </table>    
    </div>

    <div class="apps-menus-list">
        <label mat-small style="margin-bottom: 0.2rem;">{{'apps-menus.app-menu-list' | translate}}</label>
        <table mat-table [dataSource]="appMenuData">
            <ng-container matColumnDef="app-menu-name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let appMenu">{{appMenu.menuName}}</td> 
            </ng-container>
            <ng-container *ngFor="let appName of appNames" matColumnDef="app-menu-{{appName}}">
              <th mat-header-cell *matHeaderCellDef>{{appName}}</th>
              <td mat-cell *matCellDef="let appMenu">   
                <mat-checkbox
                    [checked]="state(appMenu, appName)"
                    (change)="onAppMenuChange(appMenu, appName, $event.checked)">
                </mat-checkbox>
              </td>     
            </ng-container>
            <tr mat-header-row class="app-menu-header-row" *matHeaderRowDef="appsMenusColumns"></tr>
            <tr mat-row class="app-menu-row" *matRowDef="let row; columns: appsMenusColumns;"></tr>
          </table>
    </div>

    <div class="apps-list">
        <label mat-small style="margin-bottom: 0.2rem;">{{'apps-menus.app-list' | translate}}</label>
    </div>
</div>