<div class="apps-menus-layout app-colors">

    <!-- Applications list -->
    <div class="apps-list">
        <label class="card-subtitle">{{ 'apps-menus.app-list' | translate }}</label>
        <table class="table table-bordered table-hover table-sm app-colors">
            <thead>
                <tr class="grid-header-cell">
                    <th *ngFor="let col of appsColumns, index as idx" class="{{ 'grid-column-' + col }}">
                        <ng-container *ngIf="idx === 0">
                            <a class="btn-crud grid-column-menu-add" (click)="saveApp()"
                                title="{{ 'apps-menus.add-app' | translate }}">
                                <fa-icon [icon]="faAdd" [transform]="size"
                                    style="background-color: white; font-weight: bold;"></fa-icon>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="idx > 2">
                            {{ 'apps-menus.' + col | translate }}
                        </ng-container>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of apps">
                    <td *ngFor="let col of appsColumns">
                        <ng-container [ngSwitch]="col">
                            <ng-container *ngSwitchCase="'app-name'">{{ app.name }}</ng-container>
                            <ng-container *ngSwitchCase="'app-code'">{{ app.code }}</ng-container>
                            <ng-container *ngSwitchCase="'app-login-required'">
                                <fa-icon [icon]="faCheck" [transform]="size" *ngIf="app.loginRequired"></fa-icon>
                            </ng-container>
                            <ng-container *ngSwitchCase="'app-admin-mode'">
                                <fa-icon [icon]="faCheck" [transform]="size" *ngIf="app.adminMode"></fa-icon>
                            </ng-container>
                            <ng-container *ngSwitchCase="'app-builtin'">
                                <fa-icon [icon]="faCheck" [transform]="size" *ngIf="app.builtin"></fa-icon>
                            </ng-container>
                            <ng-container *ngSwitchCase="'app-add'" class="grid-column-crud">
                            </ng-container>
                            <ng-container *ngSwitchCase="'app-edit'">
                                <ng-container *ngIf="!app.builtin">
                                    <a class="btn-crud {{ 'grid-column-' + col }}" (click)="saveApp(app)"
                                        title="{{ 'apps-menus.edit-app' | translate: { desc: app.name } }}">
                                        <fa-icon [icon]="faEdit" [transform]="size"></fa-icon>
                                    </a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'app-delete'">
                                <ng-container *ngIf="!app.builtin">
                                    <a class="btn-crud {{ 'grid-column-' + col }}" (click)="deleteApp(app)"
                                        title="{{ 'apps-menus.del-app' | translate: { desc: app.name } }}">
                                        <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Menus list -->
    <div class="menus-list">
        <label class="card-subtitle">{{ 'apps-menus.menu-list' | translate }}</label>
        <table class="table table-bordered table-hover table-sm app-colors">
            <thead>
                <tr class="grid-header-cell">
                    <th *ngFor="let col of menusColumns, index as idx" class="{{ 'grid-column-' + col }}">
                        <ng-container *ngIf="idx === 0">
                            <a class="btn-crud grid-column-menu-add" (click)="saveMenu()"
                                title="{{ 'apps-menus.add-menu' | translate }}">
                                <fa-icon [icon]="faAdd" [transform]="size"
                                    style="background-color: white; font-weight: bold;"></fa-icon>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="idx > 2">
                            {{ 'apps-menus.' + col | translate }}
                        </ng-container>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menu of menus">
                    <td *ngFor="let col of menusColumns">
                        <ng-container [ngSwitch]="col">
                            <ng-container *ngSwitchCase="'menu-name'">{{ menu.name }}</ng-container>
                            <ng-container *ngSwitchCase="'menu-url'">{{ menu.url }}</ng-container>
                            <ng-container *ngSwitchCase="'menu-display-mode'">{{ displayMode(menu.displayModeId)
                                }}</ng-container>
                            <ng-container *ngSwitchCase="'menu-icon'">
                                <fa-icon [icon]="icons[menu.menuIcon]" [transform]="size"></fa-icon>
                            </ng-container>
                            <ng-container *ngSwitchCase="'menu-builtin'">
                                <fa-icon [icon]="faCheck" [transform]="size" *ngIf="menu.builtin"></fa-icon>
                            </ng-container>
                            <ng-container *ngSwitchCase="'menu-add'" class="grid-column-crud">
                            </ng-container>
                            <ng-container *ngSwitchCase="'menu-edit'">
                                <ng-container *ngIf="!menu.builtin">
                                    <a class="btn-crud {{ 'grid-column-' + col }}" (click)="saveMenu(menu)"
                                        title="{{ 'apps-menus.edit-menu' | translate: { desc: menu.name } }}">
                                        <fa-icon [icon]="faEdit" [transform]="size"></fa-icon>
                                    </a>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'menu-delete'">
                                <ng-container *ngIf="!menu.builtin">
                                    <a class="btn-crud {{ 'grid-column-' + col }}" (click)="deleteMenu(menu)"
                                        title="{{ 'apps-menus.del-menu' | translate: { desc: menu.name } }}">
                                        <fa-icon [icon]="faRemove" [transform]="size"></fa-icon>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Applications/Menus associations list -->
    <div class="apps-menus-list">
        <label class="card-subtitle">{{ 'apps-menus.app-menu-list' | translate }}</label>
        <table class="table table-bordered table-hover table-sm app-colors">
            <thead>
                <tr class="grid-header-cell">
                    <th class="two-fields-zone">
                        <div class="two-fields-zone-left"
                            [innerHtml]="'apps-menus.apps-menus-header-menus' | translate"></div>
                        <div class="two-fields-zone-right"
                            [innerHtml]="'apps-menus.apps-menus-header-apps' | translate"></div>
                    </th>
                    <th *ngFor="let col of appsMenusColumns.slice(1)" class="two-field-zone">
                        {{ col.replace('app-menu-', '') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appMenu of appMenuData">
                    <td *ngFor="let col of appsMenusColumns">
                        <ng-container [ngSwitch]="col">
                            <ng-container *ngSwitchCase="'app-menu-name'">{{ appMenu.menuName }}</ng-container>
                            <ng-container *ngSwitchDefault>
                                <ng-container *ngFor="let app of appMenu.appData">
                                    <ng-container *ngIf="'app-menu-' + app.appName === col">
                                        <app-custom-checkbox [checked]="app.active"
                                            (checkedChange)="onAppMenuChange(appMenu, app.appName, $event)">
                                        </app-custom-checkbox>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>