<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\bin\Debug\netcoreapp3.1\api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="268435456" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: d3822a83-4e5a-42fb-9ee9-1878bb91efd8-->