<div class="card card-menu">
  <div class="card-header py-1 px-2">
    <label class="card-subtitle mb-0" [innerHtml]="title | translate: {name: menu?.name}"></label>
  </div>
  <hr class="my-0" />
  <div class="card-body card-menu-content p-0">
    <form [formGroup]="menuForm" (ngSubmit)="onOk()" class="menu-dialog-form p-3">
      <div class="d-grid gap-2">
        <div class="form-group menu-form-control">
          <label>{{'menu-dialog.name' | translate}}</label>
          <input type="text" class="form-control" formControlName="name" />
          <div *ngIf="f?.name?.errors" class="text-danger">
            {{'menu-dialog.name-required' | translate}}
          </div>
        </div>

        <div class="form-group menu-form-control">
          <label>{{'menu-dialog.url' | translate}}</label>
          <input type="text" class="form-control" formControlName="url" />
          <div *ngIf="f?.url?.errors" class="text-danger">
            {{'menu-dialog.url-required' | translate}}
          </div>
        </div>

        <div class="form-group menu-form-control">
          <label>{{'menu-dialog.display-mode' | translate}}</label>
          <select class="form-select" formControlName="displayMode">
            <option *ngFor="let dm of displayModes" [value]="dm">{{dm}}</option>
          </select>
        </div>

        <div class="form-group menu-form-control">
          <label>{{'menu-dialog.menu-icon' | translate}}</label>
          <ng-select [items]="filteredIcons" bindLabel="label" bindValue="value" [(ngModel)]="selIcon"
            formControlName="menuIcon" [searchable]="true" [clearable]="false" (focus)="onDropDownFocused(true)"
            (blur)="onDropDownFocused(false)">
            <!-- Template for dropdown options -->
            <ng-template ng-option-tmp let-item="item">
              <fa-icon [icon]="allIcons[item]" [transform]="size"></fa-icon>
              &nbsp;&nbsp;[{{item}}]
            </ng-template>

            <!-- Template for selected item -->
            <ng-template ng-label-tmp let-item="item">
              <fa-icon [icon]="allIcons[item]" [transform]="size" [attr.dd-focused]="dropDownFocused"></fa-icon>
              &nbsp;&nbsp;[{{item}}]
            </ng-template>

          </ng-select>
        </div>


        <div class="menu-form-control mt-3">
          <button type="submit" class="btn btn-primary me-2" (click)="onOk()">
            {{'OK' | translate}}
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            {{'Cancel' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>